﻿.divTile {
    font-size: 10px;
    padding-bottom: 5px;
    /*height: 95px;*/
}

.divTile > div{
    padding-left: 5px;   
}

.divTile a {
    text-decoration:  none;
    padding-right: 5px;
    margin-top: 5px;
}

.divHeader {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000066;
    FONT-FAMILY: Verdana;
    background-color:#e6e6e6; 
    /*border-bottom:solid 1px #e6e6e6;*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    border: 1px solid #e6e6e6;
}

.divHeaderOrange {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Verdana;
    background-color:#ff6600; 
    /*border-bottom:solid 1px #e6e6e6;*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    border: 1px solid #ff6600;
}

.divCell {
    border: 1px solid #e6e6e6;
}

.divTitle {
    font-weight: bold;
}

