﻿.ThemeGrid_Container {
	width: 625px;
	padding-left: 13px;
	padding-right: 13px;
}

.ThemeGrid_Wrapper {
	min-width: 625px;
}

.ThemeGrid_Width1 {
	width: 55px;
}
.ThemeGrid_Width2 {
	width: 123px;
}
.ThemeGrid_Width3 {
	width: 191px;
}
.ThemeGrid_Width4 {
	width: 259px;
}
.ThemeGrid_Width5 {
	width: 327px;
}
.ThemeGrid_Width6 {
	width: 395px;
}
.ThemeGrid_Width7 {
	width: 463px;
}
.ThemeGrid_Width8 {
	width: 531px;
}
.ThemeGrid_Width9 {
	width: 599px;
}

th.ThemeGrid_Width1,
td.ThemeGrid_Width1 {
	width: 68px;
}
th.ThemeGrid_Width2,
td.ThemeGrid_Width2 {
	width: 136px;
}
th.ThemeGrid_Width3,
td.ThemeGrid_Width3 {
	width: 204px;
}
th.ThemeGrid_Width4,
td.ThemeGrid_Width4 {
	width: 272px;
}
th.ThemeGrid_Width5,
td.ThemeGrid_Width5 {
	width: 340px;
}
th.ThemeGrid_Width6,
td.ThemeGrid_Width6 {
	width: 408px;
}
th.ThemeGrid_Width7,
td.ThemeGrid_Width7 {
	width: 476px;
}
th.ThemeGrid_Width8,
td.ThemeGrid_Width8 {
	width: 544px;
}
th.ThemeGrid_Width9,
td.ThemeGrid_Width9 {
	width: 612px;
}

th[class*="ThemeGrid_Width"],
td[class*="ThemeGrid_Width"] {
	padding-right: 13px;
}

.ThemeGrid_MarginGutter {
	margin-left: 13px;
}

.ThemeGrid_Margin1 {
	margin-left: 81px;
}
.ThemeGrid_Margin2 {
	margin-left: 149px;
}
.ThemeGrid_Margin3 {
	margin-left: 217px;
}
.ThemeGrid_Margin4 {
	margin-left: 285px;
}
.ThemeGrid_Margin5 {
	margin-left: 353px;
}
.ThemeGrid_Margin6 {
	margin-left: 421px;
}
.ThemeGrid_Margin7 {
	margin-left: 489px;
}
.ThemeGrid_Margin8 {
	margin-left: 557px;
}

.ThemeGrid_Margin1First {
	margin-left: 68px;
}
.ThemeGrid_Margin2First {
	margin-left: 136px;
}
.ThemeGrid_Margin3First {
	margin-left: 204px;
}
.ThemeGrid_Margin4First {
	margin-left: 272px;
}
.ThemeGrid_Margin5First {
	margin-left: 340px;
}
.ThemeGrid_Margin6First {
	margin-left: 408px;
}
.ThemeGrid_Margin7First {
	margin-left: 476px;
}
.ThemeGrid_Margin8First {
	margin-left: 544px;
}

/* ExcludeFromPickers: ThemeGrid_Container, ThemeGrid_Wrapper, ThemeGrid_Width1, ThemeGrid_Width2, ThemeGrid_Width3, ThemeGrid_Width4, ThemeGrid_Width5, ThemeGrid_Width6, ThemeGrid_Width7, ThemeGrid_Width8, ThemeGrid_Width9, ThemeGrid_MarginGutter, ThemeGrid_Margin1, ThemeGrid_Margin2, ThemeGrid_Margin3, ThemeGrid_Margin4, ThemeGrid_Margin5, ThemeGrid_Margin6, ThemeGrid_Margin7, ThemeGrid_Margin8, ThemeGrid_Margin1First, ThemeGrid_Margin2First, ThemeGrid_Margin3First, ThemeGrid_Margin4First, ThemeGrid_Margin5First, ThemeGrid_Margin6First, ThemeGrid_Margin7First, ThemeGrid_Margin8First */

