﻿@import url("/SilkUIFramework/Theme.Patterns_SilkUI.css?1618");

/*

    File: LT_BPINet_Classic

    0. Resets
    1. General Properties
        1.1 Colors
        1.2 Headings
    2. Built-in widgets
        2.1 Built-in widgets > TableRecords
        2.2 Built-in widgets > Form, EditRecord & ShowRecord
        2.3 Built-in widgets > EntryMessage
    3. Form Validation
    4. Feedback Message
    5. Navigation
    6. BPI Patterns
        6.1 BPI Patterns > CheckboxValidate
        6.2 BPI Patterns > ClientAccount
        6.3 BPI Patterns > Consultar
        6.4 BPI Patterns > ButtonControls
        6.5 BPI Patterns > LinksRelated
        6.6.1 BPI Patterns > Filter
        6.6.2 BPI Patterns > FilterVertical
        6.7 BPI Patterns > FormDivison
        6.8 BPI Patterns > FormExpandable
        6.9 BPI Patterns > FormGap
        6.10 BPI Patterns > HelpIcon
        6.11 BPI Patterns > InfoPanel
        6.12 BPI Patterns > LineField
        6.13 BPI Patterns > Notes
        6.14 BPI Patterns > SecurityNotes
        6.15 BPI Patterns > TwoLines
        6.16 BPI Patterns > BannerContent
        6.17 BPI Patterns > Superscript
        6.18 BPI Patterns > TileBanner
        6.19 BPI Patterns > Calendar
        6.20 BPI Patterns > Phone Number
        6.21 BPI Patterns > Challenge BPI Net
        6.22 BPI Patterns > TileCartao
        6.23 BPI Patterns > CloseContent
        6.24 BPI Patterns > CardsList 
        6.25 BPI Patterns > CardProductCategory 
        6.26 BPI Patterns > CardPreviewProduct
        6.27 BPI Patterns > ProductsSeparator
        6.28 BPI Patterns > FormItemSelectCard
        6.29 BPI Patterns > FormItem
        6.30 BPI Patterns > FormRow
        6.31 BPI Patterns > ProductDetails
        6.32 BPI Patterns > VerticalSlider
    7. SilkUI Patterns
        7.1 SilkUI Patterns > SectionExpandable
    8. DatePrettyFormat
    9. Print
    10. Usefull Classes
    
/*

/*------------------------------------*\
      $0. Imports & Resets
\*-------------------------------------*/

@import url(/RichWidgets/Theme.FontAwesome.css?1645);

@import url(Theme.GlyphiconsRegular.css?1706);
@import url(Theme.GlyphiconsFiletypes.css?1706);
@import url(Theme.GlyphiconsHalflings.css?1706);
@import url(Theme.GlyphiconsSocial.css?1706);

/* Import Trade Gothic Bold */
@font-face {
    font-family: 'tradegothicbold';
    src: url('../LT_BPI/fonts/tradegob.eot');
    src: url('../LT_BPI/fonts/tradegob.eot?#iefix') format('embedded-opentype'),
         url('../LT_BPI/fonts/tradegob.woff') format('woff'),
         url('../LT_BPI/fonts/tradegob.ttf') format('truetype'),
         url('../LT_BPI/fonts/tradegob.svg#tradegothicbold') format('svg');
    font-style: normal;
    font-weight: normal;
}

/* Import Muli Regular */
@font-face {
    font-family: 'muliregular';
    src: url('../LT_BPI/fonts/muli-webfont.eot');
    src: url('../LT_BPI/fonts/muli-webfont.eot?#iefix') format('embedded-opentype'),
         url('../LT_BPI/fonts/muli-webfont.woff') format('woff'),
         url('../LT_BPI/fonts/muli-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Resets */
html, body, div, span, 
a, img,  ul, li, form, select, 
table, tbody, thead, tr, th, td,
select, option, .Form select, .Form option {
    font-family: Verdana, Arial;
    font-size: 11px;
    /*line-height: 14px;*/
}

a:focus,
button:focus,
input[type="submit"]:focus {
    outline: none;
}


/* text to override all other rules */
.Text_normal {
    font-weight: normal !important;
}


/*------------------------------------*\
      $0.1 Reset Inputs to Native Style
\*-------------------------------------*/

/* Chrome Native inputs */
.Page.chrome select:not(.Not_Valid),
.Page.chrome .Form select:not(.Not_Valid).ReadOnly,
.Page.chrome textarea,
.Page.chrome .Form textarea.ReadOnly,
.Page.chrome input[type="text"],
.Page.chrome input[type="password"],
.Page.chrome input[type="datetime"],
.Page.chrome input[type="datetime-local"],
.Page.chrome input[type="date"],
.Page.chrome input[type="month"],
.Page.chrome input[type="time"],
.Page.chrome input[type="week"],
.Page.chrome input[type="number"],
.Page.chrome input[type="email"],
.Page.chrome input[type="url"],
.Page.chrome input[type="search"],
.Page.chrome input[type="tel"],
.Page.chrome input[type="color"] {
    background-color: #fff;
    border: 2px inset;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-image-slice: initial;
    border-image-source: initial;
    border-image-width: initial;
    color: initial;
    cursor: auto;
    display: inline-block;
    letter-spacing: normal;
    padding: 1px;
    text-indent: 0px;
    text-rendering: auto;
    text-transform: none;
    text-align: start;
    text-shadow: none;
    vertical-align: middle;
    word-spacing: normal;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
}

.Page.chrome select:focus,
.Page.chrome textarea:focus,
.Page.chrome input[type="text"]:focus,
.Page.chrome input[type="password"]:focus,
.Page.chrome input[type="datetime"]:focus,
.Page.chrome input[type="datetime-local"]:focus,
.Page.chrome input[type="date"]:focus,
.Page.chrome input[type="month"]:focus,
.Page.chrome input[type="time"]:focus,
.Page.chrome input[type="week"]:focus,
.Page.chrome input[type="number"]:focus,
.Page.chrome input[type="email"]:focus,
.Page.chrome input[type="url"]:focus,
.Page.chrome input[type="search"]:focus,
.Page.chrome input[type="tel"]:focus,
.Page.chrome input[type="color"]:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.Page.chrome input:not([type]),
.Page.chrome input[type="email" i],
.Page.chrome input[type="number" i],
.Page.chrome input[type="password" i],
.Page.chrome input[type="tel" i],
.Page.chrome input[type="url" i],
.Page.chrome input[type="text" i] {
    padding: 1px 0px;
}

.Page.chrome select:not(.Not_Valid),
.Page.chrome .Form select.ReadOnly:not(.Not_Valid),
.Page.chrome textarea,
.Page.chrome .Form textarea.ReadOnly:not(.Not_Valid) {
    background-color: #fff;
    border: 1px solid #a9a9a9;
}

.Page.chrome select,
.Page.chrome .Form select,
.Page.chrome .Form select.ReadOnly:not(.Not_Valid) {
    -webkit-appearance: menulist;
}

.Page.chrome .Form select.ReadOnly[disabled='disabled']:not(.Not_Valid), 
.Page.chrome .Form textarea.ReadOnly[disabled='disabled']:not(.Not_Valid) {
    background: #ccc;
    border: 2px inset;
    color: #666;
    font-weight: bold;
}

.Page.ie .Form select.ReadOnly[disabled='disabled']:not(.Not_Valid), 
.Page.ie .Form textarea.ReadOnly[disabled='disabled']:not(.Not_Valid) {
    background: #ccc;
    color: #666;
    font-weight: bold;   
}

.Form select {
    vertical-align: middle;
}

.Page.chrome select:hover, {
    border: 1px solid #7f7f7f;
}

/* IE Native inputs */
.Page.ie select,
.Page.ie textarea,
.Page.ie input[type="text"],
.Page.ie input[type="password"],
.Page.ie input[type="datetime"],
.Page.ie input[type="datetime-local"],
.Page.ie input[type="date"],
.Page.ie input[type="month"],
.Page.ie input[type="time"],
.Page.ie input[type="week"],
.Page.ie input[type="number"],
.Page.ie input[type="email"],
.Page.ie input[type="url"],
.Page.ie input[type="search"],
.Page.ie input[type="tel"],
.Page.ie input[type="color"],
.Page.ie :not(.ReadOnly).Form input.ReadOnly,
.Page.ie :not(.ReadOnly).Form textarea.ReadOnly,
.Page.ie :not(.ReadOnly).Form select.ReadOnly {
    background-color: #fff;
    border: 0;
    cursor: text;
    font-family: Verdana;
    font-size: 11px;
    line-height: normal;
    outline: 1px solid rgb(112, 112, 112);
    padding: 2px 1px;
}

/* ie8 dont read :not, so we need to repeat last rule just for ie8 */
.Page.ie8 select,
.Page.ie8 textarea,
.Page.ie8 input[type="text"],
.Page.ie8 input[type="password"],
.Page.ie8 input[type="datetime"],
.Page.ie8 input[type="datetime-local"],
.Page.ie8 input[type="date"],
.Page.ie8 input[type="month"],
.Page.ie8 input[type="time"],
.Page.ie8 input[type="week"],
.Page.ie8 input[type="number"],
.Page.ie8 input[type="email"],
.Page.ie8 input[type="url"],
.Page.ie8 input[type="search"],
.Page.ie8 input[type="tel"],
.Page.ie8 input[type="color"] {
    background-color: #fff;
    border: 0;
    cursor: text;
    font-family: Verdana;
    font-size: 11px;
    line-height: normal;
    outline: 1px solid rgb(112, 112, 112);
    padding: 2px 1px;
}

.Page.ie textarea:hover,
.Page.ie input[type="text"]:hover,
.Page.ie input[type="password"]:hover,
.Page.ie input[type="datetime"]:hover,
.Page.ie input[type="datetime-local"]:hover,
.Page.ie input[type="date"]:hover,
.Page.ie input[type="month"]:hover,
.Page.ie input[type="time"]:hover,
.Page.ie input[type="week"]:hover,
.Page.ie input[type="number"]:hover,
.Page.ie input[type="email"]:hover,
.Page.ie input[type="url"]:hover,
.Page.ie input[type="search"]:hover,
.Page.ie input[type="tel"]:hover,
.Page.ie input[type="color"]:hover,
.Page.ie textarea.ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="text"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="password"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="datetime"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="datetime-local"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="date"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="month"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="time"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="week"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="number"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="email"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="url"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="search"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="tel"].ReadOnly:not(.Not_Valid):hover,
.Page.ie input[type="color"].ReadOnly:not(.Not_Valid):hover {
    outline: 1px solid #4D90FE;
}

/* ie8 dont read :not, so we need to repeat last rule just for ie8 */
.Page.ie8 textarea:hover,
.Page.ie8 input[type="text"]:hover,
.Page.ie8 input[type="password"]:hover,
.Page.ie8 input[type="datetime"]:hover,
.Page.ie8 input[type="datetime-local"]:hover,
.Page.ie8 input[type="date"]:hover,
.Page.ie8 input[type="month"]:hover,
.Page.ie8 input[type="time"]:hover,
.Page.ie8 input[type="week"]:hover,
.Page.ie8 input[type="number"]:hover,
.Page.ie8 input[type="email"]:hover,
.Page.ie8 input[type="url"]:hover,
.Page.ie8 input[type="search"]:hover,
.Page.ie8 input[type="tel"]:hover,
.Page.ie8 input[type="color"]:hover {
    outline: 1px solid #4D90FE;
}

.Page.ie textarea:focus,
.Page.ie input[type="text"]:focus,
.Page.ie input[type="password"]:focus,
.Page.ie input[type="datetime"]:focus,
.Page.ie input[type="datetime-local"]:focus,
.Page.ie input[type="date"]:focus,
.Page.ie input[type="month"]:focus,
.Page.ie input[type="time"]:focus,
.Page.ie input[type="week"]:focus,
.Page.ie input[type="number"]:focus,
.Page.ie input[type="email"]:focus,
.Page.ie input[type="url"]:focus,
.Page.ie input[type="search"]:focus,
.Page.ie input[type="tel"]:focus,
.Page.ie input[type="color"]:focus,
.Page.ie textarea.ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="text"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="password"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="datetime"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="datetime-local"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="date"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="month"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="time"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="week"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="number"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="email"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="url"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="search"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="tel"].ReadOnly:not(.Not_Valid):focus,
.Page.ie input[type="color"].ReadOnly:not(.Not_Valid):focus {
    font-size: normal;
    outline: 1px solid #000;
}

/* ie8 dont read :not, so we need to repeat last rule just for ie8 */
.Page.ie8 textarea:focus,
.Page.ie8 input[type="text"]:focus,
.Page.ie8 input[type="password"]:focus,
.Page.ie8 input[type="datetime"]:focus,
.Page.ie8 input[type="datetime-local"]:focus,
.Page.ie8 input[type="date"]:focus,
.Page.ie8 input[type="month"]:focus,
.Page.ie8 input[type="time"]:focus,
.Page.ie8 input[type="week"]:focus,
.Page.ie8 input[type="number"]:focus,
.Page.ie8 input[type="email"]:focus,
.Page.ie8 input[type="url"]:focus,
.Page.ie8 input[type="search"]:focus,
.Page.ie8 input[type="tel"]:focus,
.Page.ie8 input[type="color"]:focus {
    font-size: normal;
    outline: 1px solid #000;
}

.Page.ie11 .Form select,
.Page.ie11 :not(.ReadOnly).Form select.ReadOnly,
.Page.ie10 .Form select,
.Page.ie10 :not(.ReadOnly).Form select.ReadOnly {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
}

/* checkbox & radio */
.Form input[type="checkbox"],
.Form input[type="radio"] {
    background: none;
    margin: 0;
    outline: none;
    padding: 0;
}

.Page.ie .Form input[type="checkbox"],
.Page.ie .Form input[type="radio"],
.Page.ie :not(.ReadOnly).Form input[type="checkbox"].ReadOnly,
.Page.ie :not(.ReadOnly).Form input[type="radio"].ReadOnly {
    background: transparent;
    margin: 0px 5px 4px 0;
    outline: none;
}

input[type="checkbox"] {
    height: auto;
    width: auto;
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
}

input[type="radio"] {
    height: auto;
    width: auto;
    -webkit-appearance: radio;
       -moz-appearance: radio;
}

input[type="radio"]:after,
input[type="radio"]:before,
input[type="checkbox"]:after,
input[type="checkbox"]:before {
    display: none;
}

.Form input[type="checkbox"].ReadOnly:not(.Not_Valid),
.Form input[type="radio"].ReadOnly:not(.Not_Valid) {
    background: transparent;
    margin: 0;
    vertical-align: middle;
}

select,
option,
.Form select,
.Form option {
    cursor: default !important; /* need to override all cases */
}

/*------------------------------------*\
      $1. General Properties
\*-------------------------------------*/

body {
    background: #fff;
    color: #666;
}

body .ThemeGrid_Container {
    max-width: 600px;
    padding: 0px 0px 30px 0px;
}

.Context {
    margin-bottom: 10px;
}

/* Colors */

.Orange {
    background-color: #ff6600;
}

.DarkBlue {
    background-color: #000066;
}

/* Headings */

.Heading1 {
    padding-bottom: 20px;
}

.Heading1,
.Heading1 * {
    color: #000066; 
    font-family: 'tradegothicbold';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.Heading2 {
    padding-bottom: 9px;
}

.Heading2,
.Heading2 * {
    color: #ff6600;
    font-family: 'tradegothicbold';
    font-size: 16px;
    font-style: italic;
}

.Heading3 {
    line-height: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.Heading3,
.Heading3 * {
    color: #666;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
}

.TableRecords .Heading3,
.TableRecords .Heading3 * {
    font-size: 10px;
}

/* Estilo para heading4 existente nos desenvolvimentos da equipa */
.Heading4,
.Heading4 > a ,
.Heading4 > a:link, 
.Heading4 > a:visited{
    color: #ff6600;
    line-height: 16px;
    margin: 16px 0 0 0 !important; /* override element margin */
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.Heading4 a {
    text-decoration: underline;
}

.Orange .Heading2,
.DarkBlue .Heading2 {
    color: #fff;
}

/* link */
a,
a:link,
a:visited {
    color: #000066;     
    cursor: pointer;
    text-decoration: underline;
}

a.LinkOrange,
.InfoPanel .InfoPanel_Actions a {
    color: #ff6600;
    font-weight: bold;
    text-decoration: none;
}

a.LinkOrange:hover,
.InfoPanel .InfoPanel_Actions a:hover {
    text-decoration: underline;
}

/* labels */
label,
.AccountLabel,
.DetailLabel,
.Form label,
.EditRecord .EditRecord_Caption,
.ShowRecord .ShowRecord_Caption {
    color: #000066;
    font-weight: bold;
}

.Form label {
    padding-left: 10px;
}

/* input */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
    color: #000;
    cursor: text !important;
    font-family: Verdana;
    font-size: 11px;
    height: 19px;
    line-height: 14px;
    min-width: 80px;
    padding: 2px 4px;
}

/* radio button and checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: top;
}

/* select */
select {
    font-size: 11px;
    height: 20px;
    line-height: 11px;
    margin: 0;
    min-width: 150px;
    padding: 0 0 0 2px;

}

/* typography */
.Message {
    font-size: 13px;
    color: #000;
}

.Notification {
    color: #fff;
    background: #666;
    padding: 2px 6px 3px;
}


/* auxiliar actions area (print) */
.AuxActions {
    height: 15px;
    float: right;
    margin-top: 10px;
    z-index: 1;
}

.AuxActions a {
    margin-left: 10px;
    padding-left: 20px;
    position: relative;
    
}

.AuxActions a img {
    left: 0;
    position: absolute;
}

.PageTitle {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ff6600;
    font-family: 'tradegothicbold';
    font-size: 16px;
    font-style: italic;
}

.Page.startHidden {
    display: block;
}

/*------------------------------------*\
      $2.1 Built-in widgets > TableRecords
\*-------------------------------------*/

.TableRecords,
.TableRecords_Wrapper {
    border: 0;
    margin: 0 !important; /* override element margin */
    padding: 0;
}

.TableRecords .TableRecords_Header {
    background: #ff6600;
    border-bottom: 0;
    border-right: 2px solid #fff;
    color: #fff;
    cursor: default;
    font-size: 10px;
    font-weight: bold;
    height: 29px;
    line-height: 12px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.TableRecords .TableRecords_OddLine,
.TableRecords .TableRecords_EvenLine {
    border-bottom: 0;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    text-align: center;
}

.TableRecords .TableRecords_OddLine {
    background: #e9e9e9;
}

.TableRecords .TableRecords_OddLine:last-child,
.TableRecords .TableRecords_EvenLine:last-child,    
.TableRecords .TableRecords_Header:last-child {
    border-right: 0;
    min-height: 18px;
}

.TableRecords .TableRecords_Header *,
.TableRecords .TableRecords_OddLine *,
.TableRecords .TableRecords_EvenLine * {
    font-size: 10px;
}

.TableRecords .TableRecords_OddLine a,
.TableRecords .TableRecords_EvenLine a,
.TwoLines .TopLine {
    font-size: 11px;
}

.TableRecords .TableRecords_BottomNavigation {
    display: none;
}

.TableRecords .SortColumns_Sortable:hover {
    text-decoration: none;
}

.TableRecords .TableRecords_SectionTitle * {
    color: #ff6600;
    font-size: 11px;
    font-weight: bold;
    padding-top: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

/*------------------------------------*\
      $2.2 Built-in widgets > Form, EditRecord & ShowRecord
\*-------------------------------------*/

/* .FormEdit background color */
.FormEdit {
    background: #ccf;
}

/* .FormConfirm background color */
.FormConfirm {
    background: #e9e9e9;
}

/* .FormInfo background color */
.FormInfo {
    background: #fff;
}

.FormEdit > div,
.FormConfirm > div,
.FormInfo > div {
    padding: 8px;
}

.Form div[class*="ThemeGrid"],
.Form label[class*="ThemeGrid"] {
    font-weight: bold;
    line-height: 19px;
    max-width: 370px;
}

.FormEdit .Form,
.FormConfirm .Form,
.FormInfo .Form,
.FormEdit .EditRecord,
.FormConfirm .ShowRecord,
.FormInfo .ShowRecord {
    background: transparent;
    margin: 0;
    padding: 8px 0 16px;
}

.Filter .FormEdit .Form {
    padding: 8px 0 11px 0;
}

.FormEdit a[disabled='disabled'], 
.FormEdit a[disabled='disabled']:hover {
    color: #666;
    text-decoration: none;
}

.Form,
.EditRecord,
.ShowRecord {
    background: transparent;
    margin: 2px 0;
    padding: 8px 0 16px;
}

.Form > div {
    line-height: 19px;
    margin-top: 8px;
    min-height: 19px;
}

.Form .FormRow {
    margin-top: 8px;
}

.Filter .FormEdit .Form > .ThemeGrid_Width8 {
    margin-top: 0;
    max-width: 450px;
    width: 450px;
}

.Filter .FormEdit .Form > .ThemeGrid_Width4 {
    margin-top: 0;
    width: 150px;
}

.Filter .FormRow .ThemeGrid_Width6 {
    width: auto;
}



/* form label */
.Form label,
.ShowRecord .ShowRecord_Caption {  
    text-align: right;
}

.EditRecord .EditRecord_Caption {
    padding-top: 10px;
    text-align: right;
}

.Form:not(.form-top) label {
    padding-top: 0;
}

/* form value */
.EditRecord .EditRecord_Value {
    font-weight: bold;
    line-height: 14px;
    padding: 8px 0 0 0;
    vertical-align: bottom;
}

/* form input */
.Form input.ReadOnly,
.Form textarea.ReadOnly,
.Form select.ReadOnly {
    font-size :11px;
}

.ie.Page input[type='text'][readonly='readonly'],
.ie.Page :not(.ReadOnly).Form input.ReadOnly[readonly='readonly'],
.ie.Page .Form select[disabled='disabled']:not(.Not_Valid),
.ie.Page .EditRecord textarea[disabled='disabled']:not(.Not_Valid),
.Form input[readonly='readonly']:not(.Not_Valid),
.Form textarea[readonly='readonly']:not(.Not_Valid),
.Form select[readonly='readonly']:not(.Not_Valid),
.EditRecord input[readonly='readonly']:not(.Not_Valid),
.EditRecord textarea[readonly='readonly']:not(.Not_Valid) {
    background: #ccc;
    color: #666;
    height: 19px;
}

.Form input[readonly='readonly'],
.Form textarea[readonly='readonly'],
.Form select[readonly='readonly'],
.EditRecord input[readonly='readonly'],
.EditRecord textarea[readonly='readonly'],
.EditRecord select[readonly='readonly'],
.ShowRecord .ShowRecord_Value,
.Form .FormValue {
    border: 0;
    color: #666;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}

.Form input[type="radio"],
.Form input[type="checkbox"],
.Form a {
    margin-top: 4px;
}

.Form input.Not_Valid,
.Form textarea.Not_Valid {
    padding: 2px 5px;
}

.Form textarea.Not_Valid {
    padding: 2px 5px;
}
.Form input[type="radio"].Not_Valid,
.Form input[type="checkbox"].Not_Valid {
    padding: 0;
}

.Form .FormValue {
    margin: 4px 0 4px 4px;
}

/* .ThemeGrid_MarginGutter, margin to override all the rules */
.Form .MarginLeft {
    margin-left: 13px !important;
}

.Form span,
.EditRecord span,
.ShowRecord span {
    font-weight: bold;
    height: 14px;
}

.EditRecord,
.ShowRecord {
    border-bottom: 16px solid transparent;
    border-top: 8px solid transparent;
}

.FormEditPencil,
.SmartInput_Undo{
    display: none !important;
}

.ButtonGroup_button.Button {
    color: #666;
}

/* text to override all other rules */
.Text_normal {
    font-weight: normal !important;
}

.Form input[type="checkbox"].SmartInput,
.Form input[type="radio"].SmartInput {
    display: inline-block;
}

/*------------------------------------*\
      $2.3 Built-in widgets > Form, EditRecord & ShowRecord
\*-------------------------------------*/

.EntryMessage {
    color: #666;
    font-size: 10px;
    font-weight: normal;
    vertical-align: middle;
    margin-bottom: 40px;
}

.EntryMessage p {
    margin: 10px 0px 10px 0px;
}

/*------------------------------------*\
      $3. Form Validation
\*-------------------------------------*/

input.Not_Valid,
textarea.Not_Valid,
select.Not_Valid {
    border: 1px solid #bf1601;
    border-radius: 0;
    padding: 0;
}

input[type="checkbox"].Not_Valid {
    border: 0;
    padding: 0;
    outline: none;
}

.Text_Error,
.Form .ValidationMessage,
.EditRecord .ValidationMessage {
    color: #d0021b;
    font-size: 10px;
    font-weight: normal;
    height: 100%;
    margin: 0 0 0 9px;
    padding: 2px 4px 0 33%;
}

span .Text_Error {
    font-weight: normal;
}

.EditRecord .ValidationMessage {
    padding: 0;
}

.EditRecord_Caption:after,
.SmartInput_Undo {
    display: none;
}

.Form .BoxInputContainer .Text_Error,
.Form .BoxInputContainer .ValidationMessage,
.EditRecord .BoxInputContainer .ValidationMessage{
    margin: 0;
    padding: 0;
}

/*------------------------------------*\
      $4. Feedback Message
\*-------------------------------------*/

.Feedback_Message_Error {
    background: #ec142c;
    color: #fff;
    font-weight: bold;
}

.Feedback_Message_Info {
    background: #4a90e2;
}

.Feedback_Message_Success {
    background: #6fa904;
}

.Feedback_Message_Text {
    color: #fff;
    font-weight: bold;
}

a.Feedback_Message_Wrapper_Close {
    text-decoration: none;
    top: 8px;
}

a.Feedback_Message_Wrapper_Close:after {
    color: #fff;
}

/* MainContent Form */
.MainContent .Feedback_Message_Error {
    box-shadow: none;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
}

.MainContent .Feedback_Message_Error:before {
    display: none;
}

/* Notifications */
.Notifications {
    display: block;
    position: relative;
}

.Notifications div.Feedback_Message_Wrapper {
    display: block;
    height: 100%!important;
    left: 0;
    margin: 0 0 10px;
    position: relative;
    top: 0 !important;
}

.Notifications .Feedback_Message_Error,
.Notifications .Feedback_Message_Info,
.Notifications .Feedback_Message_Success,
.Notifications .Feedback_Message_Warning {
    box-shadow: none;
    height: auto;
    max-width: 750px;
    padding: 8px;
    width: 100%;
}

.Notifications .Feedback_Message_Error:before,
.Notifications .Feedback_Message_Info:before,
.Notifications .Feedback_Message_Success:before,
.Notifications .Feedback_Message_Warning:before {
    display: none;
}

.Notifications div.Feedback_Message_Error {
    background: #FEF2F3;
    border: 1px solid #E70611;
}

.Notifications div.Feedback_Message_Success {
    background: #F3FBF3;
    border: 1px solid #0EB31D;
}

.Notifications div.Feedback_Message_Error .Feedback_Message_Text {
    color: #E70611;
    padding: 0;
}
.Notifications div.Feedback_Message_Success .Feedback_Message_Text {
    color: #0EB31D;
    padding: 0;
}

.Feedback_Message_Wrapper_Close:after {
    display: none;
}

.Notifications div.Feedback_Message_Error .Feedback_Message_Wrapper_Close {
    background: url(/LT_BPINet/img/fechar_vermelho.png?1691) no-repeat;
    height: 12px;
    width: 12px;
}
.Notifications div.Feedback_Message_Error .Feedback_Message_Wrapper_Close:hover {
    background: url(/LT_BPINet/img/fechar_vermelho_hover.png?1691) no-repeat;
    height: 12px;
    width: 12px;
}

.Notifications div.Feedback_Message_Success .Feedback_Message_Wrapper_Close {
    background: url(/LT_BPINet/img/fechar_verde.png?1691) none;
}
.Notifications div.Feedback_Message_Success .Feedback_Message_Wrapper_Close:hover {
    background: url(/LT_BPINet/img/fechar_verde_hover.png?1691) none;
}


/*------------------------------------*\
      $5. Navigation
\*-------------------------------------*/

.Navigation {
    border-bottom: 1px solid #ccc;
    margin: 6px 0 0;
    text-align: right;
    width: 100%;
}

.Navigation a {
    border-bottom: 2px solid transparent;
    color: #000066;
    display: inline-block;
    font-size: 10px;
    margin-left: 12px;
    padding: 0 0 7px;
    text-decoration: none;
}

.Navigation .active a,
.Navigation a:hover {
    color: #000066;
    border-bottom: 2px solid #000066;
    text-decoration: none;
}

.Navigation .active {
    font-weight: bold;
}

/*------------------------------------*\
      $6.1 BPI Patterns > CheckboxValidate
\*------------------------------------*/

.CheckboxValidate {

}
.CheckboxContent {
    float: left;
    margin-left: 10px;
    width: 20px;
}
.CheckboxText {
    margin-left: 30px;
}
.Form .CheckboxValidate span.ValidationMessage {
    margin-left: 30px;
    padding-left: 0;
}

.Form .CheckboxValidate input[type="checkbox"],
.Form .CheckboxValidate input[type="radio"],
.Form .CheckboxValidate a {
    margin: 0;
}

/*------------------------------------*\
      $6.2 BPI Patterns > ClientAccount
\*------------------------------------*/

.ClientAccount {
    display: table;
    min-height: 24px;
    padding-bottom: 9px;

}

.ClientAccount .AccountLabel,
.ClientAccount .AccountValue {
    display: table-cell;
    vertical-align: middle;


}

.ClientAccount .AccountValue {
    color: #666;
    font-weight: bold;
    padding-left: 15px;

}

/*------------------------------------*\
      $6.3 BPI Patterns > Consultar & TableContent
\*------------------------------------*/

.Consultar,
.TableContent {
    position: relative;
}
.Consultar .Heading3,
.TableContent .Heading3 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-top: 30px; /* espaçamento */
}
/*.Consultar.open .Heading3 {
    border-bottom: 0;
}*/
.Consultar .LinkOrange {
    position: absolute;
    right: 0;
    top: 0;
}
.Consultar .LinkOrange.Hide,
.Consultar.open .LinkOrange.Show,
.Consultar .ConsultarContent {
    display: none;
}
.Consultar .LinkOrange.Show,
.Consultar.open .LinkOrange.Hide,
.Consultar.open .ConsultarContent {
    display: block;
}
.ConsultarLoading {
    display: none;
    margin: 20px auto;
    text-align: center;
}
.Consultar.loading .ConsultarLoading {
    display: block;
}

/*------------------------------------*\
      $6.4 BPI Patterns > ButtonControls
\*------------------------------------*/

.ButtonsControls {
    /*height: 20px;*/
    margin-top: 10px;
    padding: 0;
}

.ButtonsControls .Buttons_Right,
.ButtonsControls .Buttons_Left {
    vertical-align: top;
}

.FormEdit .ButtonsControls,
.FormConfirm .ButtonsControls,
.FormInfo .ButtonsControls {
    margin-top: 2px;
    margin-bottom: -10px; /*novo*/
    padding: 0 8px 0px; /* estava 0 8px 16px*/
}

.ButtonsControls a,
.ButtonsControls a:link,
.ButtonsControls a:visited,
.ButtonsControls input {
    display: inline-block;
    margin: 3px 10px 5px 0;
}

.ButtonsControls .Buttons_Right a,
.ButtonsControls .Buttons_Right a:link,
.ButtonsControls .Buttons_Right a:visited,
.ButtonsControls .Buttons_Right input {
    background: #000066;
    border: #bbc6ff thin outset;
    color: #fff;
    cursor: pointer;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 14px;
    margin: 0 0 5px 10px;
    padding: 2px 6px 3px;
    text-decoration: none;
    -webkit-appearance: none;
        -moz-apperance: none;
            appearance: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

/*------------------------------------*\
      $6.5 BPI Patterns > LinksRelated
\*------------------------------------*/

.LinksRelated {
    /*height: 20px;*/
    margin-top: 30px;
    padding: 0;
}

.LinksRelated .Buttons_Left {
    vertical-align: top;
}

.FormEdit .LinksRelated,
.FormConfirm .LinksRelated,
.FormInfo .LinksRelated {
    margin-top: 0;
    padding: 0 8px 16px;
}

.LinksRelated a,
.LinksRelated a:link,
.LinksRelated a:visited,
.LinksRelated input {
    display: block;
    font-weight: bold;
    margin: 3px 10px 5px 0;
}

/*------------------------------------*\
      $6.6.1 BPI Patterns > Filter
\*------------------------------------*/

.FilterContent {
    background: #ccf;
    height: 35px;
    margin: 0 0 2px;
    padding: 11px 8px 0 8px;
    width: 100%;

}

.FilterContent > div {
    display: table;

}

.Filter .FilterContent > div {

}

.FilterContent .Content {
    display: table-cell;
    padding-right: 8px;
    vertical-align: middle;

}

.FilterContent input[type="radio"] {
    margin: 0;
    padding: 0;
}

.FilterContent label {
    margin: 0 12px 0 0;
}

/*------------------------------------*\
      $6.6.2 BPI Patterns > FilterVertical
\*------------------------------------*/

.FilterContent.FilterVertical {
    height: auto;
}

.FilterContent.FilterVertical .VerticalRow {
    margin-bottom: 10px;
}

/*------------------------------------*\
      $6.7 BPI Patterns > FormDivison
\*------------------------------------*/

div.FormDivision {
    background: #fff;
    height: 2px;
    margin: 0;
    min-height: 2px;
    width: 100%;
}

.FormEdit .FormDivision,
.FormConfirm .FormDivision,
.FormInfo .FormDivision {
    margin: 16px 0;
}

/*------------------------------------*\
      $6.8 BPI Patterns > FormExpandable
\*------------------------------------*/

.Form .FormExpandable {
    min-height: 0;
    position: relative;
}

.FormExpandable .Form {
    margin: 0;
    padding: 0;
}

.FormExpandable_content {
    display: none;
    overflow: hidden;
}

.FormExpandable_content > div {
    margin-top: 8px;
}

.FormExpandable_content .Content {
    margin-top: 16px;
}

.FormExpandable_header {
    display: table;
    height: 13px;
    width: 100%;
}

.FormExpandable.expanded,
.FormExpandable_header {
    border-top: 2px solid #fff;
    margin-top: 16px;
}

.FormExpandable a.LinkOrange {
    margin-top: 6px;
    position: absolute;
    right: 10px;


}

.FormExpandable a.LinkOrange span {
    color: #ff6600;
    padding: 0;
}

.FormExpandable a.LinkOrange .Show,
.FormExpandable.expanded a.LinkOrange .Hide {
    display: block;
}
.FormExpandable.expanded a.LinkOrange .Show,
.FormExpandable a.LinkOrange .Hide {
    display: none;


}

/*------------------------------------*\
      $6.9 BPI Patterns > FormGap
\*------------------------------------*/

.Form .FormGap {
    margin-top: 0;
    min-height: 16px;
    width: 100%;
}

/*------------------------------------*\
      $6.10 BPI Patterns > HelpIcon
\*------------------------------------*/

.HelpIcon {
    background: url(/LT_BPINet/img/FieldTipInactive.png?1691) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-left: 8px;
    vertical-align: middle;
    width: 13px;
}
.HelpIcon:hover {
    background: url(/LT_BPINet/img/FieldTipHover.png?1691) no-repeat;
    
}
.HelpIcon.active {
    background: url(/LT_BPINet/img/FieldTipActive.png?1691) no-repeat;
    
}
.Form div.HelpIconMessage {
    display: none;
    font-weight: normal;
    color: #000066;
}

/*------------------------------------*\
      $6.11 BPI Patterns > InfoPanel
\*------------------------------------*/

.InfoPanel {
    background: #ccf;
    color: #666;
    display: table;
    margin-top: 2px;
    min-height: 60px;
    padding: 8px;
    width: 100%;

}

.InfoPanel .InfoPanel_Icon {
    color: #fff;
    width: 60px;
}

.InfoPanel .InfoPanel_Icon .fa-fw {
    font-size: 40px;
}

.InfoPanel .InfoPanel_Text {
    display: table-cell;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;

}

.InfoPanel .InfoPanel_Text input {
    height: 19px;
    min-width: 40px;
    width: 40px;
}

.InfoPanel .InfoPanel_Actions {
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
    white-space: nowrap;



}

.InfoPanel .InfoPanel_Actions > div {

}

.InfoPanel .InfoPanel_Actions a,
a.LinkOrange {
    color: #ff6600;
    font-weight: bold;
    text-decoration: none;
}

.InfoPanel .InfoPanel_Actions a:hover,
a.LinkOrange:hover {
    text-decoration: underline;
}

/*------------------------------------*\
      $6.12 BPI Patterns > LineField
\*------------------------------------*/

.LineField {
    background: #e9e9e9;
    line-height: 15px;
    margin-bottom: 6px;
    padding: 2px 4px;
}

.LineField .DetailLabel,
.LineField .DetailValue {
    display: inline-block;
    margin-top: 0;
    width: 50%;
}

.LineField .DetailValue {
    color: #666;
    font-size: 10px;
    text-align: right;
    font-weight: bold;
}

/*------------------------------------*\
     6.13 BPI Patterns > Notes.LineField {
    background: #e9e9e9;
    line-height: 15px;
    margin-bottom: 6px;
    padding: 2px 4px;
}

.LineField .DetailLabel,
.LineField .DetailValue {
    display: inline-block;
    margin-top: 0;
    width: 50%;
}

.LineField .DetailValue {
    color: #666;
    font-size: 10px;
    text-align: right;
    font-weight: bold;
}
\*------------------------------------*/

.ListNotes {
    margin-top: 30px;
}

.ListNotes a {
    font-size: 10px;
}

.ListNotes .NotesLabel {
    color: #ff6600;
    line-height: 14px;
    padding-bottom: 8px;
}

.ListNotes .Notes  {

}

.ListNotes .Notes > span div,
.ListNotes .Notes > div > span div {
    font-size: 10px;
    line-height: 12px;
    margin: 3px 0 0;
    padding-left: 16px;
}

.ListNotes .Notes > span div:before,
.ListNotes .Notes > div > span div:before {
    background: #ff6600;
    content: " ";
    display: block;
    float: left;
    height: 6px;
    margin: 4px 7px 0 -13px;
    width: 6px;
}

.ListNotes .Notes > span div.noBG:before,
.ListNotes .Notes > div > span div.noBG:before {
    background: transparent;
}

.ListNotes .Notes > span div.BGAzul:before,
.ListNotes .Notes > div > span div.BGAzul:before {
    background: #000066;
}

/*------------------------------------*\
      $6.14 BPI Patterns > SecurityNotes
\*------------------------------------*/

.SecurityNotesLabel {
    background-color: #e3e4e2;
    box-sizing: content-box;
    display: table-cell;
    color: #f60;
    font-family: Verdana;
    font-size: 11px;
    height: 38px;
    min-height: 38px;
    padding-left: 0px;
    vertical-align: middle;
    /*width: 100%;*/
}

.ListSecurityNotesImg {
    display: table-cell;
    width: 64px;
    height: 38px;
    background: url("/LT_BPINet/resources/cadeado.svg") no-repeat center center;
}

.ListSecurityNotes {
    background-color: #e3e4e2;
}

.SecurityNotes {
    background-color: #f6f6f6;
    padding-top: 22px;
    padding-right: 25px;
}

.SecurityNotes div {
    color: #666666;
    font-family: Verdana;
    font-size: 10px;
    padding-bottom: 14px;
    padding-left: 43px;
}

.SecurityNotes div p {
    margin: 0px;
}

.SecurityNotes div:before {
    background: #f60;
    content: " ";
    display: block;
    float: left;
    height: 6px;
    margin: 5px 0px 0px -14px;
    width: 6px;
}


/*------------------------------------*\
      $6.15 BPI Patterns > TwoLines
\*------------------------------------*/

.TwoLines {
    padding-left: 0px;
    text-align: left;
}
.TwoLines .TopLine {
    font-weight: bold;
}

/*------------------------------------*\
      $6.16 BPI Patterns > BannerContent
\*------------------------------------*/

.BannerLayout {
    margin-top: 30px;
    position: relative;
}

.BannerLayout:empty {
    display: none;
}

.BannerContent .BannerImage {

}

.BannerContent .BannerText {
    padding-top: 5px;
}
.BannerContent .tooltipstered {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
}
.BannerContent .tooltipstered .fa {
    display: none;
}

/*------------------------------------*\
      $6.17 BPI Patterns > Superscript
\*------------------------------------*/


sup {
    position: relative;
    top: -0.5em;
    vertical-align: top;
}

.Note,
.Note label {
    color: #666;
    font-size: 10px;
    font-weight: normal;
    vertical-align: middle;
    line-height: 12px;
}

.Facultativo {
    color: #666;
    font-size: 10px;
    vertical-align: middle;
    line-height: 19px;
}

/* Superscript for notes */
.SuperscriptNoteRef,
.SuperscriptNoteRef label
 {
    color: #666;
    font-size: 10px;
    font-weight: normal;
    padding-left: 0.2em;
}

.SuperscriptNote:first-child {
    margin-top: 10px;
}

.SuperscriptNote, 
.SuperscriptNote label
 {
    color: #666;
    font-size: 10px;
    font-weight: normal;
    margin-top: 6px;
    line-height: 11px;
}

.SuperscriptNote .Note
 {
    color: #666;
    font-size: 10px;
    font-weight: normal;
    display: inline !important;
    line-height: 11px;
    padding-left: 0.2em;
}

.TableRecords_Header .SuperscriptNote {
    color: #fff;
    font-size: 10px;
}

/*------------------------------------*\
      $6.18 BPI Patterns > TileBanner
\*------------------------------------*/


.TileBanner {
    background: #f7f7f7;
    display: inline-block;
    height: 141px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;

}

.TileBanner.Big {
    height: 90px;
    width: 600px;
}
.TileBanner.Medium {
    width: 397px;
}
.TileBanner + .Medium,
.TileBanner.Small {
    width: 193px;
}
.TileBanner + .Small {
    margin-left: 10px;
}

.TileBanner img {
    cursor: pointer;
    left:0;
    position: absolute;
    top: 0;
}

.TileBanner .Btn_Right,
.TileBanner .Btn_Left {
    background: transparent;
    bottom: 10px;
    height: 20px;
    margin: 0;
    position: absolute;
    width: 80px;
    z-index: 1;
}
.TileBanner .Btn_Left {
    left: 10px;
}
.TileBanner .Btn_Right {
    right: 10px;
}


/*------------------------------------*\
      $6.19 BPI Patterns > Calendar
\*------------------------------------*/

.DynarchCalendar-focusLink {display: none;}
.DynarchCalendar {
    background: #f5f5ff;
    border: 1px solid #aaa;
    cursor: default;
    font-size: 11px;
    line-height: 14px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.DynarchCalendar-body {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.DynarchCalendar table {
    border-collapse: collapse;
}

.DynarchCalendar-topBar {
    background: #fff;
}

/* month title */
table.DynarchCalendar-titleCont {
    position: relative;
    text-align: center;
    z-index: 9;
}

/* buttons month and year */
.DynarchCalendar-navBtn {
    position: absolute;
    top: 5px;
    z-index: 10;
}

.DynarchCalendar-navBtn div {
    height: 15px;
    width: 16px;
}
.DynarchCalendar-hover-navBtn div {
    background-color: #fff;
    padding: 0;
}
.DynarchCalendar-navDisabled {
    cursor: default;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.DynarchCalendar-prevMonth {
    left: 25px;
}

.DynarchCalendar-nextMonth {
    left: 100%;
    margin-left: -51px;
}

.DynarchCalendar-prevYear {
    left: 3px;
}

.DynarchCalendar-nextYear {
    left: 100%;
    margin-left: -27px;
}


.DynarchCalendar-navBtn > div {
    border: 0;
    height: 30px;
    width: 24px;
}
.DynarchCalendar-prevYear > div {
    background: url(/LT_BPINet/img/cal_recuar_duplo.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-prevYear > div:hover {
    background: url(/LT_BPINet/img/cal_recuar_duplo_hover.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-nextYear > div {
    background: url(/LT_BPINet/img/cal_avancar_duplo.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-nextYear > div:hover {
    background: url(/LT_BPINet/img/cal_avancar_duplo_hover.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-prevMonth > div {
    background: url(/LT_BPINet/img/cal_recuar.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-prevMonth > div:hover {
    background: url(/LT_BPINet/img/cal_recuar_hover.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-nextMonth > div {
    background: url(/LT_BPINet/img/cal_avancar.png?1691) no-repeat center center #FFF;
}
.DynarchCalendar-nextMonth > div:hover {
    background: url(/LT_BPINet/img/cal_avancar_hover.png?1691) no-repeat center center #FFF;
}

.CalendarTrigger {
    background: url(/LT_BPINet/img/cal_dropdown_arrow.png?1691) no-repeat center center transparent;
    cursor: pointer;
    height: 17px;
    margin: 3px 0 0 -21px;
    width: 20px;
}
.CalendarTrigger:hover {
    background: url(/LT_BPINet/img/cal_dropdown_arrow_hover.png?1691) no-repeat center center transparent;
    color: #000;
}

/* hidden menu select year and month */
.DynarchCalendar-menu {
    filter: alpha(opacity=85);
    height: 100%;
    left: 0;
    opacity: 0.85;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}


/***************************/
.DynarchCalendar-day,
.DynarchCalendar-dayNames div,
.DynarchCalendar-bottomBar-today {
    border: 1px solid transparent;
    color: #000066;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.DynarchCalendar-bottomBar-today {
    height: 24px;
    line-height: 24px;
    width: 60px;
}
.DynarchCalendar-day:hover,
.DynarchCalendar-bottomBar-today:hover {
    background: #CCCCFF;
    border: 1px solid #6E6EB9;
    cursor: pointer;
}
.DynarchCalendar-day-disabled,
.DynarchCalendar-day-disabled:hover {
    background: none;
    border: 1px solid transparent;
    color: #aaa;
    cursor: default;
}
.DynarchCalendar-day-selected,
.DynarchCalendar-day-selected.DynarchCalendar-weekend {
    background: #fff;
    border: 1px solid #6E6EB9;
}
.DynarchCalendar-day-today {
    font-weight: bold;
}
.DynarchCalendar-weekend,
.DynarchCalendar-weekend.DynarchCalendar-day-disabled,
.DynarchCalendar-weekend.DynarchCalendar-day-disabled:hover {
    background: #ededff;
}


/*****************/
.DynarchCalendar-titleCont{
    color: #666;
    margin: auto;
}
.DynarchCalendar-title > div {
    height: 40px;
    line-height: 40px;
}
.DynarchCalendar-navBtn > div,
.DynarchCalendar-bottomBar-today {
    cursor: pointer;
}

.DynarchCalendar-day-disabled {
    background: none;
    border: 1px solid transparent;
}

/* other months display */
.DynarchCalendar-day-othermonth {
    display: none;
}

/* animation flick override */
.DynarchCalendar-animBody-now,
.DynarchCalendar-animBody-back,
.DynarchCalendar-animBody-fwd {
    top: 0;
}

.DynarchCalendar-bottomBar > table table {
    margin: auto;
}

.DynarchCalendar-dayNames div {
    background: #fff;
    color: #aaa;
    font-size: 9px;
    height: 24px;
    line-height: 24px;
    margin: auto;
}

input.inputToExtend {
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
}

input.inputToExtend.inputExtended {
    width: 212px;
}

.DynarchCalendar-topCont {
    margin-left:90px;
}


/*------------------------------------*\
      $6.20 BPI Patterns > Phone Number 
\*------------------------------------*/

.PhoneNumber {
    line-height: inherit;
}

.PhoneNumber .Prefix {
    display: inline-block;
    font-size: 8px;
    margin-right: .5em;
}

.PhoneNumber .Prefix:empty {
    display: none;
}

.PhoneNumber .AreaAndNumber {
    display: inline-block;
}

/*------------------------------------*\
      $6.21 BPI Patterns > Challenge BPI Net
\*------------------------------------*/

.ChallengeInputPanel {
    background-color: #ccf;
    color: #666;
    display: table;
    margin-top: 2px;
    padding: 8px;
    width: 100%;
}

.ChallengeInputPanel .ChallengeInputIcon {
    display: table-cell;
    color: #fff;
    width: 60px;
    background-image: url("/LT_BPINet/img/icon_cadeado.gif?1691");
    background-repeat: no-repeat;
    background-position: center; 
}

.ChallengeInputPanel .ChallengeInputIcon .fa-fw {
    font-size: 40px;
}

.ChallengeInputPanel .CoordInputPanel_CoordText,
.ChallengeInputPanel .SMSInputPanel_CoordText {
    display: table-cell;
    font-weight: bold;
    margin: 0;
    padding-right: 5px;
    text-align: right;
    vertical-align: middle;
    color:#006; 
}

.ChallengeInputPanel .ChallengeSingleInput .CoordInputPanel_CoordText {
    width: 150px;
    height: 37px;
}

.ChallengeInputPanel .ChallengeSingleInput .SMSInputPanel_CoordText {
    width: 190px;
    height: 37px;
}

.ChallengeInputPanel .ChallengeMultipleInput .CoordInputPanel_CoordText,
.ChallengeInputPanel .ChallengeMultipleInput .SMSInputPanel_CoordText{
    width: 190px;
    height: 28px;
}


.ChallengeInputPanel .CoordInputPanel_CoordInput,
.ChallengeInputPanel .SMSInputPanel_CoordInput {
    display: table-cell;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ChallengeInputPanel .CoordInputPanel_CoordTip,
.ChallengeInputPanel .SMSInputPanel_CoordTip {
    display: table-cell;
    vertical-align: middle;
    font-family: Verdana, Arial;
    font-size: 10px;
    font-weight: bold;
    padding-left: 5px;
}

.ChallengeInputPanel .CoordInputPanel_CoordInput input[type="password"],
.ChallengeInputPanel .CoordInputPanel_CoordInput input[type="text"] {
    min-width: 40px;
    width: 40px;
}

.ChallengeInputPanel .SMSInputPanel_CoordInput input[type="password"],
.ChallengeInputPanel .SMSInputPanel_CoordInput input[type="text"] 
{
    min-width: 50px;
    width: 50px;
}

.ChallengeErrorContainer.CoordInput {
    margin-left: 151px;
}

.ChallengeErrorContainer.MultipleInput {
    margin-left: 190px;
}

.ChallengeErrorContainer.SMSInput {
    margin-left: 190px;
}

/*------------------------------------*\
      $6.22 BPI Patterns > TileCartao
\*------------------------------------*/

.CardContainer .divRotateLeft {
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 20px;
    opacity: .8;
    padding: 2px 0 0 3px;
    position: absolute;
    width: 20px;
}

.CardContainer .divRotateRight {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 8px;
    height: 20px;
    opacity: .8;
    padding: 3px 0 0 2px;
    position: absolute;
    right: 0;
    width: 20px;
}

.CardContainer .transparent {
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.CardContainer {
   display: inline-block;
   margin-bottom: 10px;
   position: relative;
   width: 280px;
}

.CardContainer:nth-child(2n) {
    margin-left: 36px;
}

.CardContainer img.CardImageTest {
    height: 178px;
    width: 280px;
}

.CardContainer .CardNumber {
    display: block;
    font-family: muliregular, Verdana, Arial;
    font-size: 13px;
    font-weight: bold;
    left: 30px;
    position: absolute;
    top: 102px;
    width: 200px;
}

.CardContainer .CardName {
    clip: rect(0px, 240px, 20px, 0px);
    display: block;
    font-family: muliregular, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    left: 14px;
    position:absolute;
    top: 150px;
    width: 240px;
}

.WhiteLettering .CardNumber,
.WhiteLettering .CardName {
    color:#fff;
    max-height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-shadow: 0px 0px 5px #000;
}

.BlackLettering .CardNumber,
.BlackLettering .CardName {
    color:#000;
    max-height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-shadow: 0.5px 0.5px 0px #fff;
}

.CardContainer .divContainer {
    background-color: #D3D3D3;
    border-radius: 10px;
    height: 176px;
    padding: 20px;
    width: 280px;
}

/*------------------------------------*\
      $6.23 BPI Patterns > CloseContent
\*------------------------------------*/

.CloseWrapper {
    position: relative;
    width: 100%;   
}

.CloseWrapper span.fa {
    color: #000066;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.CloseWrapper .Content {

}

.CloseWrapper .Links {
    position: relative;
    text-align: right;


}

.CloseWrapper .Links > a {
    margin-left: 10px
}

/*------------------------------------------*\
      $6.24 BPI Patterns > CardsList
\*------------------------------------------*/

.CardsListContainer {
    padding-top: 25px;
    position: relative;
    width: 100%;
}

.CardsListContainer .ThemeGrid_Width6 {
    width: 100%;
}

/*------------------------------------------*\
      $6.25 BPI Patterns > CardProductCategory
\*------------------------------------------*/

.CardProductCategory {
    background-color: #dadada;
    display: inline-block;
    height: 141px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    vertical-align: top;
}

.CardProductCategory.Large {
    height: auto;
    width: 600px;
}

.CardsListContainer a:nth-child(4n) .CardProductCategory.Small {
    margin-right: 0;
}

.CardsListContainer a:nth-child(3n) .CardProductCategory.Medium {
    margin-right: 0;
}

.CardsListContainer a:nth-child(4n) .CardProductCategory.Small {
    margin-right: 0;
}

.CardProductCategory.Medium {
    height: 314px;
    width: 193px;
}

.CardProductCategory.Small {
    height: 231px;
    width: 142px;
}

.CardProductCategory_image img {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.CardProductCategory.Large .CardProductCategory_image img {
    position: relative;   
}

.CardProductCategory_actions {
    color: #fff;
    background: #006;
    border: #bbc6ff thin outset;
    border-radius: 0;
    bottom: 7px;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    left: 7px;
    line-height: 14px;
    padding: 2px 6px 3px;
    position: absolute;
    text-decoration: none;
    z-index: 1;
    
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/*--------------------------------------------*\
      $6.26 BPI Patterns > CardPreviewProduct
\*--------------------------------------------*/

.CardPreviewProduct {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 200px;
    vertical-align: top;
    width: 193px;
}

.CardsListContainer a:nth-child(3n) .CardPreviewProduct {
    margin-right: 0;
}

.CardPreviewProduct_details {
    
    height: 82px;
    padding: 0 0 10px 0;
}

.CardPreviewProduct_title {
    color: #006;
    font-size: 11px;
}

.CardPreviewProduct_subTitle {
    color: #999;
    font-size: 11px;
    padding-top: 5px;
}

a .CardPreviewProduct_title {
    font-weight: bold;
    padding-top: 2px;
}

a .CardPreviewProduct_subTitle {
    font-weight: normal;
}

.CardPreviewProduct_subTitle {
    font-size: 11px;
}

.CardPreviewProduct_imageContainer {
    margin-bottom: 7px;
    margin-top: 0;
    padding-top: 0;
    position: relative;
}

.CardPreviewProduct_image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 193px;
}

.CardPreviewProduct_image img {
    margin-left: -15%;
    max-height: 133px;
    width: auto;
}

.CardPreviewProduct_unavailable {
    bottom: 5px;
    color: #f60;
    display: none;
    font-weight: bold;
    left: 5px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}

.CardPreviewProduct.IsUnavailable .CardPreviewProduct_unavailable {
    display: block;
}

/*--------------------------------------------*\
      $6.27 BPI Patterns > ProductsSeparator
\*--------------------------------------------*/

.ProductsSeparator {
    border-bottom: 1px solid #e9e9e9;
    color: #f60;
    font-family: 'tradegothicbold';
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
}

/*-------------------------------------------*\
      $6.28 BPI Patterns > FormItemSelectCard
\*-------------------------------------------*/

.BoxInputContainer.MarginTop {
    margin-top: 8px;
}

.BoxInputContainer.ItemSelectCard .BoxInput_checkbox {
    margin-right: 20px;
}

.BoxInputContainer.ItemSelectCard .BoxInput_cardImage {
    margin-right: 10px;
}

.BoxInputContainer.ItemSelectCard .BoxInput_cardImage {
    padding-top: 4px;
}

.BoxInputContainer.ItemSelectCard .BoxInput_cardImage img {
    width: 65px;
}

.BoxInputContainer.ItemSelectCard .BoxInput_details .BoxInput_details_title {
    font-weight: bold;
}

.BoxInputContainer.ItemSelectCard .BoxInput_details .BoxInput_details_text {
    font-weight: normal;
}

.BoxInputContainer.ItemSelectCard .BoxInput_ContentIcon {   
    display: none;
    width: 0;
}

/*-------------------------------------------*\
      $6.29 BPI Patterns > FormItem
\*-------------------------------------------*/

.FormRow .FormEditItem .BoxInput_ContentLabel {
    max-width: 100%;
    width: 191px;
}

.BoxInput_Label {
    color: #006;
    text-align: right;
}

.FormRow .FormEditItem .BoxInput_ContentIcon,
.FormRow .FormEditItem .BoxInput_Content {
    width: auto;
}

.FormEditItem .BoxInput_Input,
.ItemSelectCard .BoxInput_details {
    max-width: 330px;
}

/* When used in the filters placeholder */

.Filter .FormRow .FormEditItem .BoxInput_ContentLabel {
    width: auto;
}

.Filter .FormRow .FormEditItem .BoxInput_ContentLabel label[class*="ThemeGrid"] {
    width: auto;
}

.Filter .FormRow .FormEditItem .BoxInput_ContentLabel label {
    text-align: left;
}

.Filter .FormRow .FormEditItem .BoxInput_Input[class*="ThemeGrid"] {
    width: auto;
}

.Filter .FormRow .FormEditItem .BoxInput_Input select {
    max-width: 150px;
}

.RemoveInnerBorders .BoxInputContainer {
    margin-top: 8px;
}

/*-------------------------------------------*\
      $6.30 BPI Patterns > FormRow
\*-------------------------------------------*/

.FormRow > div[class*="ThemeGrid_"] {
    display: inline;
    width: 100%;
}

.Filter .Form .FormRow {
    margin-top: 0;
}

/*-------------------------------------------*\
      $6.31 BPI Patterns > ProductDetails
\*-------------------------------------------*/


.ProductDetails_container {
    position: relative;
}

.ProductDetails_leftArea {
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.ProductDetails_leftArea:before {
    color: #006;
    content: "\f00e";
    font-family: FontAwesome;    
    font-size: 30px;    
    height: 30px;    
    line-height: 30px;
    position: absolute;
    right: 85px;
    text-align: center;
    top: 5px;
    width: 30px;
    z-index: 100;
}

.ProductDetails_rightArea {
    border-bottom: 1px solid #ddd;
    display: table;
    padding: 20px 0;
    width: 100%;
}

.ProductDetails_rightArea_container1 {
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;    
}

.ProductDetails_title {
    
}

.ProductDetails_description {
    
}

.ProductDetails_rightArea_container2 {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 150px;
}

.ProductDetails_value {
    font-size: 20px;
    font-weight: bold;
}

.ProductDetails_warningText {
    color: #f60;
    font-weight: bold;
    padding-top: 15px;
}

.ProductDetails_actions {
    
}

.ProductDetails_slideshow {
    margin-bottom: 20px;
}

.ProductDetails_imageSubtitle {
    color: #999;
    font-size: 12px;
    margin-bottom: 20px;
    padding-left: 35px;
    position: relative;
}

.ProductDetails_imageSubtitle:before {
    content: "\f030";
    color: #999;
    font-family: FontAwesome;
    font-size: 20px;    
    left: 0;
    position: absolute;
    top: -3px;    
}

/*-------------------------------------------*\
      $6.31 BPI Patterns > VerticalSlider
\*-------------------------------------------*/

.VerticalSlider .image-gallery img {


}

/* LightSlider */

/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}

.lightSlider {
    overflow: hidden;
    margin: 0;
}

.lSSlideWrapper {
    border: 1px solid #e9e9e9;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.lSSlideWrapper > .lightSlider:after {
    clear: both;
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
    position: relative;
}

.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}

.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}

/** /!!! End of core css Should not edit !!!/**/

/** Gallery */

.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lSGallery li {
    height: 65px !important;
    margin-bottom: 10px !important;
}

.lSSlideOuter .lSPager.lSGallery li {
    border: 1px solid #e9e9e9;
    overflow: hidden;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border: 1px solid #f60;
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}

/* End of Gallery*/

/* slider actions */

.noPager .lSAction {
    display: none;
}

.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}

.lSAction > a:hover {
    opacity: 1;
}

.lSAction > .lSPrev {
    background-position: 0 0;
}

.lSActon > .lSNext {
    background-position: -32px 0;
    right: 10px;
}

.lSAction > a.disabled {
    pointer-events: none;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}

/* vertical */

.lSSlideOuter.vertical {
    position: relative;
}

.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 32px;
}

.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */

.lSSlideOuter.vertical .lSAction > a {
    margin-left: -14px;
    margin-top: 0;
    background-color: #fff;
    text-decoration: none;
    width: 65px;
    font-size: 30px;
    font-family: FontAwesome;
    text-align: center;
}

.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 0;
    top: auto;
    right: 0;
    
}

.lSSlideOuter.vertical .lSAction > .lSNext:before {
    content: "\f107";
}

.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 0;
    right: 0;
}

.lSSlideOuter.vertical .lSAction > .lSPrev:after {
    content: "\f106";
}

.realSlide {
    position: relative;
    height: 510px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    overflow: hidden;
}

.realSlide img.previewImage{
    width: 100%;
}

.lSSlideWrapper {
    display: none;
}

/* EasyZoom */
 
.easyzoom {
    position: relative;
    /* 'Shrink-wrap' the element */
    display: inline-block;
    *display: inline;
    *zoom: 100000000000000000;
}

.easyzoom img {
    vertical-align: bottom;
}

.easyzoom.is-loading img {
    cursor: progress;
}

.easyzoom.is-ready img {
    cursor: crosshair;
}

.easyzoom.is-error  img {
    cursor: not-allowed;
}

.easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
    position: absolute;
    z-index: 100;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 530px;
    height: 510px;
}

/*----------------------------------------------*\
      $7.1 SilkUI Patterns > SectionExpandable
\*----------------------------------------------*/

.SectionExpandable {
    margin-top: 30px;
}

.SectionExpandable__title.Heading2 {
    color: #666;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    padding-bottom: 0;
}

.SectionExpandable__icon.Heading2 {
    line-height: 16px;
    padding-bottom: 0;
}

.Heading2.SectionExpandable__icon .fa {
    font-family: FontAwesome;
    font-style: normal;
}

.SectionExpandable .SectionExpandable_content,
.SectionExpandable.expanded .SectionExpandable_content {
    padding-left: 0;
    padding-right: 0;
}

/*------------------------------------*\
      $8. DatePrettyFormat
      Desenvolvimentos equipa de projecto 
\*------------------------------------*/

a.DatePrettyFormat {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    cursor: default;
}

a[disabled='disabled'], 
a[disabled='disabled']:hover {
    color: #666;
    text-decoration: none;
}q

.aspNetDisabled {
    color: #666;
    text-decoration: none;
}

/*------------------------------------*\
      $9. Print
\*-------------------------------------*/

.PrintInfo {
    display: none;   
}

@media print {
    .ListNotes .Notes > span div:before,
    .ListNotes .Notes > div > span div:before {
        color: #ff6600;
        content: "■";
        display: block;
        margin: 0 7px 0 3px;
        font-size: 12px;
    }
    
    .SecurityNotes div:before {
        color: #ff6600;
        content: "■";
        display: block;
        margin: 0 7px 0 3px;
        font-size: 12px;
    }
    
    .ListNotes .Notes > span div.noBG:before,
    .ListNotes .Notes > div > span div.noBG:before {
        opacity: 0;
    }

    .ListNotes .Notes > span div.BGAzul:before,
    .ListNotes .Notes > div > span div.BGAzul:before {
        color: #000066;
    }
    
    .ThemeGrid_Container > .Heading1.Title,
    .Navigation,
    .Notifications,
    .AuxActions,
    .ButtonsControls,
    .LinkOrange,
    .Consultar.open .LinkOrange.Hide,
    .Consultar .LinkOrange.Show
    {
        display: none;
    }
    
    .TableRecords a {
        text-decoration: none;
        font-size: 10px;
        color: #666;        
    }
    
    .NoPrint {
        display: none;      
    }
    
    .LinksRelated {
        display: none;
    }
    
    .PrintInfom,
    .TableRecords .TwoLines a {
        display: block;   
    }
    
    .TableRecords td,
    .FormExpandable,
    .FormExpandable_header {
        border: none !important;
    }
    
    @page { margin: 0.5cm;}
}


/*------------------------------------*\
      $10. Usefull Classes
\*-------------------------------------*/

.DisplayInline {
    display: inline;
} 