html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
:focus {
    outline: 0
}
ins {
    text-decoration: none
}
del {
    text-decoration: line-through
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.block .blockMainSlide {
    position: relative;
    width: 954px;
    height: 370px;
    padding: 0 0 0 0;
    background: url('../images/bg_mainslide-top.gif') no-repeat left top;
    z-index: 10
}
.blockSlideContainer .blockMainSlide {
    width: 743px!important
}
.block .blockLateralMenu {
    position: relative;
    left: 0;
    top: 0;
    width: 211px;
    height: 370px;
    background: #aaa;
    z-index: 11;
    float: left
}
.blockMainSlide .blockSlideContent {
    position: relative;
    overflow: hidden;
    height: 370px;
    width: 743px;
    background: #fff;
    float: left
}
.contentLoad {
    z-index: 555!important
}
.blockLateralMenu .menuList1 {
    position: relative;
    height: 152px
}
.menuList1 .blockListContainer {
    position: absolute!important;
    left: 0;
    top: 35px;
    z-index: 0
}
.js .menuList1 .blockListContainer {
    top: 32px
}
.menuList2 .blockListContainer {
    position: absolute!important;
    left: 0;
    top: 35px;
    z-index: 0
}
.js .menuList2 .blockListContainer {
    top: 24px
}
.blockLateralMenu .menuList2 {
    position: relative;
    height: 120px
}
.blockListLinks h2 {
    font-size: 1.38em;
    color: #FFF;
    font-weight: normal;
    padding: 4px 0 3px 22px
}
.menuList2 h2 {
    padding: 0 0 0 22px
}
.menuList2 h2 .cufon {
    margin-top: -4px
}
.blockListLinks .blockListContainer {
    padding: 0 0 0 20px;
    overflow: auto;
    width: 190px
}
.js .blockListContainer {
    overflow: hidden
}
.js .blockListContainer {
    width: 220px
}
.blockListLinks #menuDrag1 {
    height: 120px;
    margin-top: 5px
}
.blockListLinks #menuDrag2 {
    height: 95px;
    margin-top: 5px
}
.blockListContainer ul {
    width: 170px
}
.js .blockListContainer ul {
    width: 202px
}
.blockListContainer ul li {
    font-size: .69em;
    color: #FFF;
    display: inline
}
.blockListContainer ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    padding: 0 11px 0 0;
    background: url(../images/bg_menulist-line.gif) no-repeat 5px bottom
}
.blockListContainer ul li a span {
    display: block;
    height: 20px;
    padding: 4px 0 0 22px;
    background: url(bgListaSeta.png) no-repeat 12px 6px;
    cursor: pointer
}
.blockListContainer ul li a:hover {
    margin-top: -1px;
    background: url(../images/bg_menulist-on-right_hover.gif) no-repeat right top
}
.blockListContainer ul li a:hover span {
    padding-top: 5px!important;
    background: url(../images/hover/bg_menulist-on-left_hover.gif) no-repeat left top;
    color: #000
}
.blockListContainer ul li.selected a {
    background: url(../images/bg_menulist-on-right.gif) no-repeat right top!important
}
.blockListContainer ul li.selected a span {
    background: url(../images/bg_menulist-on-left.gif) no-repeat left top!important
}
.blockListContainer ul li.selected a {
    margin-top: -1px!important
}
.blockListContainer ul li.selected a span {
    padding-top: 5px!important
}
.blockListContainer ul li a.slidefirstLi {
    margin-top: -1px!important
}
.blockListContainer ul li a.slidefirstLi span {
    padding-top: 5px!important
}
.block .blockScrollMenuLinks {
    height: 18px;
    margin-top: -1px;
    padding: 2px 0 0 146px;
    position: relative;
    z-index: 39
}
.block .scrollLinksBg {
    background: url(../images/bg_scroll-menu2.gif) no-repeat left top
}
.blockScrollMenuLinks a {
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    text-indent: -9000px;
    cursor: pointer
}
.blockScrollMenuLinks a.linkScrollUp {
    background: url(../images/btn_menuscroll-up.gif) no-repeat left top
}
.blockScrollMenuLinks a.linkScrollDown {
    background: url(../images/btn_menuscroll-down.gif) no-repeat left top;
    margin-left: 4px
}
.blockLateralMenu .blockAdhere {
    padding: 0 0 0 22px
}
.blockAdhere h3 {
    font-size: 1.38em;
    color: #FFF;
    font-weight: normal;
    padding: 0 0 3px 0;
    margin-top: -5px;
    position: relative;
    z-index: 60;
    float: left
}
.blockAdhere h3 .cufon {
    margin-top: -5px
}
.blockAdhere .selectbox-wrapper {
    position: absolute;
    width: 169px!important;
    background: #fff;
    font-size: .69em;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    border-left: solid 1px #c2c2c2;
    border-bottom: solid 1px #c2c2c2;
    border-right: solid 1px #c2c2c2
}
.blockAdhere .selectbox-wrapper ul li.selected {
    background: #f7920f;
    color: #fff
}
.blockAdhere .selectbox-wrapper ul li.current {
    background: #f7920f;
    color: #fff
}
.blockAdhere .selectbox-wrapper ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 7px 0 7px 10px;
    cursor: pointer
}
.blockAdhere label {
    display: block
}
.blockAdhere .selectbox {
    margin: 0;
    padding: 7px 0 7px 10px;
    border: solid 1px #c2c2c2;
    width: 159px;
    font-size: .69em;
    display: block;
    text-align: left;
    background: #f3f2f2 url(../images/bg_customselect.gif) no-repeat right top;
    cursor: pointer;
    color: #000
}
.blockAdhere select {
    font-size: .69em;
    padding: 3px 0 3px 0;
    width: 135px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    height: 29px;
}
.blockAdhere span.btnSelectMenu {
    background: url(../images/btn_input-ok-blue2.png) no-repeat right -23px
}
.blockAdhere span.btnSelectMenu input {
    background: url(../images/btn_input-ok-blue2.png) no-repeat left top
}
.blockMainSlide .sepCol,
.block .sepCol {
    background: #000;
    height: 370px;
    left: 212px;
    position: absolute;
    top: 1px;
    width: 11px;
    z-index: 10
}
.blockScrollMenuLinks .disabled {
    visibility: hidden
}
.block .blockRow4cols,
.blockRow4cols {
    margin-right: -17px;
    width: 970px;
    overflow: hidden;
    background: #FFF
}
.block .bgRow4cols {
    background: url(../images/bg_blockrow4cols.gif) no-repeat left top;
    padding: 45px 0 0 0
}
.blockFirstCol {
    margin-right: 0!important
}
.blockRow4cols .blockFirstCol,
.blockFirstCol {
    float: left;
    width: 210px;
    margin-right: 19px
}
.blockDefaultCol {
    float: left;
    width: 230px;
    margin-right: 17px
}
.blockRow4cols .blockDefaultCol {
    margin-right: 17px
}
.blockSelectSim {
    height: 29px
}
.block .blockSelectSimulators {
    padding: 0 0 20px 12px
}
.blockRow4cols h4 {
    font-size: 1.38em;
    color: #000;
    font-weight: normal;
    padding: 0 0 10px 0
}
.blockSelectSimulators .selectbox-wrapper {
    position: absolute;
    width: 194px!important;
    background: #fff;
    font-size: .69em;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    border-left: solid 1px #c2c2c2;
    border-bottom: solid 1px #c2c2c2;
    border-right: solid 1px #c2c2c2;
    z-index: 200
}
.blockSelectSimulators .selectbox-wrapper ul li.selected {
    background: #f7920f;
    color: #fff
}
.blockSelectSimulators .selectbox-wrapper ul li.current {
    background: #f7920f;
    color: #fff
}
.blockSelectSimulators .selectbox-wrapper ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 7px 0 7px 10px;
    cursor: pointer
}
.blockSelectSimulators label {
    display: block
}
.blockSelectSimulators .selectbox {
    margin: 0;
    padding: 7px 0 7px 10px;
    border: solid 1px #c2c2c2;
    width: 184px;
    font-size: .69em;
    display: block;
    text-align: left;
    background: #f3f2f2 url(../images/bg_customselect.gif) no-repeat right top;
    cursor: pointer;
    color: #000
}
.blockSelectSimulators select {
    font-size: .69em;
    padding: 3px 0 3px 0;
    width: 135px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000
}
.blockSelectSimulators span.btnSelectMenu {
    background: url(../images/btn_input-ok-blue2.png) no-repeat right -23px
}
.blockSelectSimulators span.btnSelectMenu input {
    background: url(../images/btn_input-ok-blue2.png) no-repeat left top
}
.block .blockMostWanted {
    padding: 0 0 20px 12px;
    width: 200px
}
.blockMostWanted h4 {
    padding: 0 0 12px 0
}
.blockMostWanted .blockList1 {
    padding: 0 0 0 10px
}
.blockMostWanted .blockList1 ul {
    width: 179px
}
.blockMostWanted .blockList1 ul li {
    width: 159px
}
.blockList1 .lastItem {
    height: 1px;
    background: #fff;
    margin-top: -1px
}
.blockList1 ul li {
    float: left;
    font-size: .69em;
    color: #000;
    padding: 7px 0 7px 20px;
    border-bottom: solid 1px #dfdede;
    background: url(bgListaSeta.png) no-repeat 8px 9px
}
.blockList1 ul li a {
    color: #000;
    text-decoration: none
}
.blockList1 ul li a:hover {
    text-decoration: underline
}
.block .blockTabsNews {
    padding: 0 0 0 3px
}
.blockTabsNews .ui-tabs-nav {
    background: #FFF;
    border-bottom: solid 3px #fcac33
}
.blockTabsNews .ui-tabs-nav li {
    font-size: .63em;
    font-weight: 700;
    color: #FFF;
    margin-right: 1px
}
.blockTabsNews .ui-tabs-nav li a {
    padding: 0 8px 0 0
}
.blockTabsNews .ui-tabs-nav li a span {
    display: block;
    padding: 7px 0 5px 8px
}
.blockTabsNews .ui-tabs .ui-tabs-panel {
    padding: 0
}
.blockTabsNews .ui-state-default a,
.blockTabsNews .ui-widget-content .ui-state-default a {
    background: url(../images/bg_tabsgrey1.gif) no-repeat right -25px;
    color: #FFF
}
.blockTabsNews .ui-state-default a span,
.blockTabsNews .ui-widget-content .ui-state-default a span {
    background: url(../images/bg_tabsgrey1.gif) no-repeat left top
}
.blockTabsNews .ui-state-hover a,
.blockTabsNews .ui-widget-content .ui-state-hover a,
.blockTabsNews .ui-state-focus a,
.blockTabsNews .ui-widget-content .ui-state-focus a,
.blockTabsNews .ui-state-active a {
    background: url(bgNoticiasTab.gif) no-repeat right -25px!important;
    color: #FFF
}
.blockTabsNews .ui-state-hover a span,
.blockTabsNews .ui-widget-content .ui-state-hover a span,
.blockTabsNews .ui-state-focus a span,
.blockTabsNews .ui-widget-content .ui-state-focus a span,
.blockTabsNews .ui-state-active a span {
    background: url(bgNoticiasTab.gif) no-repeat left top!important
}
.blockTabsNews .blocoTabNews,
.blocoMarkets .blocoTabNews {
    padding: 10px 0 20px 0
}
.blocoTabNews .blocoListaNoticias,
.block .blocoListaNoticias {
    padding-bottom: 3px
}
.blocoListaNoticias img,
.newsContent img {
    float: left;
    margin-right: 7px;
    margin-bottom: 7px
}
.blocoListaNoticias p,
.newsContent p {
    font-size: .69em;
    padding: 8px 0 3px 0
}
.blocoListaNoticias h5,
.newsContent h5 {
    color: #ffaf00;
    font-size: 1.13em;
    font-weight: normal
}
.blocoTabNews p.tabTitle,
.blocoMarketsContent p.tabTitle {
    font-size: .69em;
    color: #000;
    padding-bottom: 10px
}
.js p.tabTitle {
    text-indent: -9000px;
    position: absolute;
    left: -9000px
}
.blocoMarketsContent .marketsBtnsCont {
    vertical-align: middle;
    height: 23px;
    padding: 6px 0 0 5px;
    margin-top: 2px;
    background: url(../images/bg_mini_graph.gif) no-repeat left top
}
.blocoMarketsContent .marketsBtnsCont span.rowHeader {
    float: left;
    display: inline-block;
    font-size: .63em;
    font-weight: 700;
    color: #000;
    padding: 2px 6px 0 2px
}
.blocoMarketsContent .marketsBtnsCont a {
    cursor: pointer;
    float: left;
    display: inline-block;
    font-size: .63em;
    color: #fff;
    text-decoration: none;
    background: url(../images/btn_markets.gif) no-repeat right bottom;
    padding: 0 7px 0 0;
    margin-right: 5px
}
.blocoMarketsContent .marketsBtnsCont a:hover {
    background: url(../images/btn_markets_hover.gif) no-repeat right bottom
}
.blocoMarketsContent .marketsBtnsCont a span {
    display: inline-block;
    height: 14px;
    padding: 2px 0 0 5px;
    background: url(../images/btn_markets.gif) no-repeat left top
}
.blocoMarketsContent .marketsBtnsCont a:hover span {
    background: url(../images/btn_markets_hover.gif) no-repeat left top
}
.blocoMarketsContent .varCont {
    padding: 0 0 5px 20px;
    font-size: .69em;
    font-weight: 700
}
.blocoMarketsContent .varCont ul li {
    float: left;
    padding: 4px 0 0 0;
    font-weight: normal
}
.blocoMarketsContent .varCont ul li.graphHdr {
    width: 50px;
    font-weight: 700
}
.blocoMarketsContent .varCont ul li.graphHdr img {
    padding-left: 2px
}
.blocoMarketsContent .varCont ul li.colValue {
    width: 70px;
    text-align: right
}
.blocoMarketsContent .varCont ul li.redValue {
    color: #be0f15
}
.blocoMarketsContent .varCont ul li.greenValue {
    color: #27b600
}
.blocoMarketsContent .varCont ul li.noneValue {
    color: #000
}
.blocoMarketsContent .varCont ul li.flatValor {
    color: #000
}
.noPaddingRight {
    padding-right: 0!important
}
a.linkMaisSe {
    color: #ff950c;
    margin-left: 5px;
    padding: 0 0 0 9px;
    text-decoration: none;
    cursor: pointer;
    background: url(bgListaSeta.png) no-repeat left 3px
}
a.linkMaisSe:hover {
    text-decoration: underline
}
.block .artigoLinkCont {
    padding-top: 20px
}
a.blocoArtigoLink {
    color: #ff950c;
    font-size: .69em;
    padding: 0 0 0 9px;
    text-decoration: none;
    background: url(bgListaSeta.png) no-repeat left 3px
}
a.blocoArtigoLink:hover {
    text-decoration: underline
}
.blockFlash {
    height: 144px
}
.block .blocoMarkets {
    padding: 0 0 15px 3px
}
.blocoMarkets .ui-tabs-nav {
    background: #FFF;
    border-bottom: solid 3px #000
}
.blocoMarkets .ui-tabs-nav li {
    font-size: .63em;
    font-weight: 700;
    color: #FFF;
    margin-right: 1px
}
.blocoMarkets .ui-tabs-nav li a {
    padding: 0 8px 0 0
}
.blocoMarkets .ui-tabs-nav li a span {
    display: block;
    padding: 7px 6px 5px 14px
}
.blocoMarkets .ui-tabs .ui-tabs-panel {
    padding: 0;
    margin-top: 2px
}
.blocoMarkets .ui-state-default a,
.blocoMarkets .ui-widget-content .ui-state-default a {
    background: url(../images/bg_tabsgrey1.gif) no-repeat right -25px;
    color: #FFF
}
.blocoMarkets .ui-state-default a span,
.blocoMarkets .ui-widget-content .ui-state-default a span {
    background: url(../images/bg_tabsgrey1.gif) no-repeat left top
}
.blocoMarkets .ui-state-hover a,
.blocoMarkets .ui-widget-content .ui-state-hover a,
.blocoMarkets .ui-state-focus a,
.blocoMarkets .ui-widget-content .ui-state-focus a,
.blocoMarkets .ui-state-active a {
    background: url(../images/bg_blackheader1.gif) no-repeat right -25px!important;
    color: #FFF
}
.blocoMarkets .ui-state-hover a span,
.blocoMarkets .ui-widget-content .ui-state-hover a span,
.blocoMarkets .ui-state-focus a span,
.blocoMarkets .ui-widget-content .ui-state-focus a span,
.blocoMarkets .ui-state-active a span {
    background: url(../images/bg_blackheader1.gif) no-repeat left top!important
}
.block .blockFinancialNews {
    padding: 0 0 20px
}
.blockFinancialNews h4 {
    font-size: 1.38em;
    color: #000;
    font-weight: normal;
    padding: 0 0 3px 0
}
.block .blockContacts {
    padding-bottom: 5px;
    margin-bottom: 5px
}
.blockContacts h4 {
    font-size: 1.38em;
    color: #000;
    font-weight: normal;
    padding: 0 0 10px 13px
}
.block .blocoContato {
    padding-right: 48px;
    margin-bottom: 16px;
    background: url(contatoDir.gif) no-repeat right top
}
.blocoContato p {
    display: block;
    color: #3e3e3e;
    text-transform: uppercase;
    font-size: .63em;
    height: 40px;
    padding: 12px 0 12px 15px;
    background: url(contatoEsq.gif) no-repeat left top
}
.blocoContato p strong {
    color: #0574c6;
    font-size: 2.1em;
    font-weight: 700;
    display: block
}
.block .blocoChat {
    margin-bottom: 16px
}
.blocoChat a {
    text-decoration: none;
    display: block;
    color: #3e3e3e;
    height: 43px;
    text-transform: uppercase;
    font-size: .63em;
    padding: 0 0 0 15px;
    background: url(bgChat.gif) no-repeat right top
}
.blocoChat a strong {
    color: #3e3e3e;
    font-size: 2.3em;
    font-weight: 700;
    display: block
}
.block .blocoOutrosContatos {
    padding: 0 0 0 15px
}
.blocoOutrosContatos h5 {
    font-size: .69em;
    color: #000;
    padding-bottom: 12px
}
.blocoOutrosContatos ul li {
    float: left;
    width: 200px
}
.blocoLista2 ul li {
    font-size: .69em;
    color: #767676;
    padding: 0 0 15px 15px;
    background: url(bgSetaAzul.gif) no-repeat left 3px
}
.blocoLista2 ul li a {
    color: #767676;
    text-decoration: none
}
.blocoLista2 ul li a:hover {
    text-decoration: underline
}
.blockBaloon {
    display: inline-block;
    position: relative;
    width: 19px
}
.blockBaloon img {
    position: absolute;
    left: 2px;
    top: -15px
}
.block .blocoSites {
    padding: 20px 0 20px 13px;
    position: relative;
    z-index: 10
}
.blocoSites h4 {
    width: 190px;
    display: block;
    padding-bottom: 0;
    cursor: pointer;
    background: url(bgMause.gif) no-repeat 160px top
}
.blocoSites a {
    color: #767676;
    font-size: .69em;
    text-decoration: none
}
.blocoSites a:hover {
    text-decoration: underline
}
html,
body {
    height: 100%
}

.block .conteudoTemplate1,
.conteudoTemplate1 {
    padding-bottom: 30px
}
.blockRowForm .genericSelect2 {
    float: left;
    width: 144px
}

.blocoListaNoticias .newsDetailsWindow #close,
#newsWidgetContentWindow #close {
    float: right;
    color: #aaa;
    font-size: .69em
}
.blocoListaNoticias .newsDetailsWindow #previous,
#newsWidgetContentWindow #previous {
    float: left
}
.blocoListaNoticias .newsDetailsWindow #next,
#newsWidgetContentWindow #next {
    float: right
}
.blocoListaNoticias .linkMaisSe {
    display: block
}
.clearright {
    clear: right
}
.clearboth {
    clear: both
}

body {
    background: #ffffff url(bg.png) repeat-x center top;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0
}
body.bodyTemplate1 {
    background: #ffffff url(bg.png) repeat-x center top
}
body.bodyTemplate2 {
    background: #ffffff url(bg.png) repeat-x center top
}
body.bodyTemplate3 {
    background: #ffffff url(bg.png) repeat-x center top
}
.site .siteContainer {
    width: 954px;
    margin: 0 auto
}
.block .blockMainContent {
    background: #FFF;
    padding-bottom: 10px;
    min-height: 10px
}
.block div.header {
    position: relative;
    z-index: 20;
    width: 954px
}
.header .blocoTopo {
    height: 113px
}
.blocoTopo .blocoLogo {
    float: left;
    width: 252px;
    height: 78px;
    padding: 35px 0 0 27px
}
.blocoTopo .blocoDireita {
    float: left;
    width: 675px
}
.blocoDireita .blocoSearch {
    height: 46px;
    padding-top: 30px
}
.blocoSearch .blockFirstTime {
    float: left;
    width: 270px;
    text-align: right;
    padding-top: 5px
}
.blocoSearch .idiomas {
    float: left;
    width: 73px;
    padding-top: 10px
}
.blocoSearch .blockSiteSearch {
    float: left;
    width: 331px;
    height: 31px
}
.block .blockRoundLink25 a {
    display: inline-block;
    font-size: .69em;
    color: #474747;
    text-decoration: none;
    cursor: pointer;
    padding: 0 4px 0 0
}
.idiomas ul {
    padding-left: 13px
}
.idiomas ul li {
    display: inline;
    float: left;
    padding-right: 5px
}
.idiomas ul li a,
.idiomas ul li span {
    display: block;
    width: 21px;
    height: 13px;
    text-indent: -9000px;
    overflow: hidden
}
.idiomas ul li a.flagPt,
.idiomas ul li span.flagPt {
    background: url(flagPt.gif) no-repeat 0 -13px
}
.idiomas ul li a.flagEn,
.idiomas ul li span.flagEn {
    background: url(flagEn.gif) no-repeat 0 -13px
}
.idiomas ul li a.selected,
.idiomas ul li span.selected {
    background-position: 0 0!important
}
.blockSiteSearch .blockSearchInput {
    position: relative;
    float: left;
    width: 244px;
    height: 22px;
    background: url(inputSearch.gif) no-repeat left top;
    padding: 9px 0 0 40px
}
.blockSearchInput input {
    width: 237px;
    float: left;
    border: none;
    background: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .69em;
    margin: 0;
    padding: 0
}
.blockSiteSearch .blocoSubmitSearch {
    float: left;
    width: 34px;
    padding: 4px 0 0 8px
}
.blockSearchInput label {
    font-size: .69em;
    position: absolute;
    left: -9000px
}
.js .blockSearchInput label {
    left: 40px;
    top: 10px
}
.jsLabelHidden {
    left: -9000px!important;
    position: absolute
}
.blocoSubmitSearch span {
    display: inline-block;
    padding-right: 5px;
    background: url(btnInputSearchDir.gif) no-repeat right top
}
.blocoSubmitSearch input {
    display: inline-block;
    height: 23px;
    border: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .63em;
    color: #FFF;
    cursor: pointer;
    background: url(btnInputSearchEsq.gif) no-repeat left top;
    padding: 0 0 1px 5px
}
.rowButton {
    float: left;
    margin-right: 3px;
    padding-left: 3px
}
.pricesFrm span.genericButton2,
.blockMarketContent span.btnSelectMenu {
    margin-left: 4px
}
.blockSiteSearch .blocoAvancadoLink {
    text-align: right;
    padding: 0 48px 0 0
}
.blocoAvancadoLink a {
    font-size: .69em;
    color: #ffffff;
    text-decoration: none
}
.blocoMenuSegundo ul {
    float: right;
    margin: 0 241px 0 0;
    padding: 0
}
.blocoMenuSegundo ul li {
    display: block;
    float: left
}
.blocoMenuSegundo ul li a {
    float: left;
    color: #FFF;
    font-size: .71em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    /*background:url(../images/bg_firstmenu-default-right.gif) no-repeat right 10px;*/
    
    padding: 0 6px 0 0
}
.blocoMenuSegundo ul li a span {
    display: block;
    float: left;
    padding: 12px 4px 12px 9px
}
.blocoMenuSegundo ul li a span {
    padding: 12px 7px
}
.blocoMenuSegundo ul li.selected a span {
    padding-right: 9px
}
.header .blocoTopoBaixo {
    height: 40px
}
.blocoTopoBaixo {
    position: relative;
    z-index: 40;
    height: 40px
}
.blocoTopoBaixo .subMenu {
    float: left;
    width: 713px;
    height:40px;
}
.blocoTopoBaixo .blocoLogin {
    float: left;
    width: 241px;
    position: relative;
    z-index: 11
}
.subMenu .sf-menu {
    margin-bottom: 0;
    font-size: 14px;
}
.subMenu .sf-menu a {
    border: none;
    color: #FFF;    
    background: url(barraMenu.gif) no-repeat right 10px;
    padding: 15px 6px 15px 7px
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    top: 40px
}
.subMenu .sf-menu ul li a {
    padding: 15px 0 14px 10px
}
.subMenu .sf-menu li a.firstLi {
    text-transform: uppercase
}
.subMenu .sf-menu li a.menuFirst {
    padding-left: 14px!important
}
.subMenu .sf-menu li.sfHover a.menuFirst,
.subMenu .sf-menu li a.menuFirst:hover {
    margin-left: 0!important;
    padding-left: 14px!important;
    display: block
}
.subMenu .lastItem {
    padding: 15px 11px 14px!important
}
.subMenu .sf-menu li ul {
    background: #F3F2F2;
    padding: 10px;
    z-index: 10
}
.subMenu .sf-menu li li {
    /*background:#F3F2F2!important;*/
    
    padding-left: 5px
}

.sf-menu li:hover a.firstLink { color:#000;background:url(bgMenuHover.png) repeat-x left top;}
.sf-menu li a.firstSelected {
	color: #000 !important;
	height: 10px;
    background: url(menuHoverEsq.gif) !important;}

.subMenu .sf-menu li li:hover a,
.subMenu .sf-menu li.sfHover li a,
.subMenu .sf-menu li li a,
.subMenu .sf-menu li li a:hover {
    background: url(bgSetaAzul.gif) no-repeat left 8px;
    color: #000
}
.subMenu .sf-menu li li a {
    padding: 7px 3px 7px 12px
}
.subMenu .sf-menu span.menuItem {
    display: inline-block;
    background: url(bgSetaAzul.gif) no-repeat left 8px;
    color: #000;
    padding: 7px 3px 7px 12px
}
.subMenu .menuWide {
    width: 450px!important;
    background: #fff;
    padding: 20px 0 20px 10px
}
.subMenu li.sfHover ul.menuWide {
    left: -20px!important
}
.subMenu .menuWide li {
    display: inline;
    float: left;
    width: 138px!important
}
.subMenu .sf-menu li.menuWideFooter {
    margin-left: -10px;
    margin-bottom: -10px;
    width: 430px!important;
    color: #979696!important;
    background: #ccc!important;
    display: block!important;
    float: none!important;
    clear: left;
    padding: 10px 20px!important
}
.subMenu .sf-menu li.menuWideFooter:hover {
    background: #f3f2f2!important
}
.subMenu .menuWide li.menuWideFooter:hover,
.subMenu .menuWide li.menuWideFooter.sfHover,
.subMenu .menuWide li.menuWideFooter.sfHover {
    color: #979696!important
}
.noBgImage {
    background-image: none!important
}
.blocoLogin .blocoNet {
    float: left;
    width: 81px;
    padding: 2px 0 0 9px
}
.blocoLogin .blocoLoginNet {
    float: left;
    width: 85px;
    height: 21px;
    background: url(inputBgLogin.png) no-repeat left top;
    padding: 6px 0 0 8px
}
.blocoLoginNet input {
    width: 82px;
    float: left;
    font-size: .69em;
    color: #000;
    border: none;
    background: none;
    font-family: Tahoma, Geneva, sans-serif
}
.blocoLoginNet label {
    font-size: .69em;
    color: #000
}
.blocoLogin .blocoSubmitLogin {
    float: left;
    width: 26px;
    padding: 2px 0 0 4px
}
.blocoLogin .blocoMaisInfo {
    float: left;
    width: 10px;
    padding: 8px 0 0 7px
}
.blocoMaisInfo a {
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    text-indent: -9000px;
    background: url(maisInfo.gif) no-repeat left top
}
a.linkBlue1 {
    display: inline-block;
    padding-right: 5px;
    text-decoration: none;
    background: url(btnInputSearchDir.gif) no-repeat right top
}
a.linkBlue1 span {
    display: inline-block;
    height: 18px;
    font-size: .63em;
    color: #FFF;
    cursor: pointer;
    background: url(btnInputSearchEsq.gif) no-repeat left top;
    padding: 5px 2px 0 7px
}
.block .blocoSiteMap1 {
    border-top: solid 3px #000;
    width: 899px;
    overflow: hidden;
    background: #FFF;
    padding: 25px 0 25px 55px
}
body.bodyTemplate2 .blocoSiteMap1,
body.bodyTemplate3 .blocoSiteMap1 {
    border-top: solid 5px #f5f5f5
}
.blocoSiteMap1 .blocoSiteMap1List {
    float: left;
    margin-right: 10px;
    width: 118px
}
.blocoSiteMap1List h5 {
    font-size: .69em;
    color: #000;
    padding-bottom: 5px;
    text-transform: uppercase
}
.blocoSiteMap1List ul li {
    font-size: .69em;
    color: #767676;
    padding-bottom: 3px
}
.blocoSiteMap1List ul li a {
    color: #767676;
    text-decoration: none
}
.block .blocoRodape {
    text-align: center;
    padding-bottom: 20px
}
body.bodyTemplate2 .blocoRodape,
body.bodyTemplate3 .blocoRodape {
    padding-bottom: 60px;
    background: #FFF url(../images/bg_footer.gif) no-repeat left bottom
}
.blocoRodape ul {
    padding-bottom: 10px
}
.blocoRodape ul li {
    font-size: .69em;
    color: #000;
    display: inline;
    background: url(bg_footer-border.gif) no-repeat right 2px;
    padding: 0 9px 0 8px
}
.blocoRodape ul li a {
    color: #000;
    text-decoration: none
}
.blocoRodape .blockAccessibility {
    text-align: center
}

.blocoAvancadoLink a:hover,
.subMenu .sf-menu li ul li a:hover,
.blockLoggedLinks ul li a:hover,
.blocoSiteMap1List ul li a:hover,
.blocoRodape ul li a:hover {
    text-decoration: underline
}
.blocoMenuSegundo .lastItem a,
.sf-menu li li a.noArrow,
.sf-menu .noArrow {
    background: none!important
}
.blocoMenuSegundo ul li.selected
/*,.subMenu .sf-menu li*/

{
    margin-left: -1px
}
.subMenu .sf-menu li.firstLi,
.blocoRodape ul li.lastItem {
    background: none
}
.subMenu .sf-menu li:hover,
.subMenu .sf-menu li.sfHover,
.subMenu .sf-menu li.sfHover a.firstLi .subMenu .sf-menu a:focus,
.subMenu .sf-menu a:hover,
.subMenu .sf-menu a:active,
.subMenu .sf-menu li.sfHover a {
    color: #000
}
.sf-menu li,
.blockLoggedMenu label {
    display: block
}
.hiddenLabel,
.js .hiddenLabel2 {
    position: absolute;
    left: -9000px;
    top: 0
}
.blocoSubmitLogin span,
span.btnSelectMenu {
    display: inline-block;
    padding-right: 5px;
    background: url(inputDir.gif) no-repeat right top
}
.blocoSubmitLogin input,
span.btnSelectMenu input {
    display: inline-block;
    height: 23px;
    border: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: .63em;
    color: #FFF;
    cursor: pointer;
    background: url(inputEsq.gif) no-repeat left top;
    padding: 0 0 1px 5px
}
.certTitle p,
.blockColLabel label {
    font-size: .63em;
    color: #fff
}

/*particulares*/

.blocoLogin { position:relative; padding:7px 0 0 0 !important; height:33px; background:url(bgMenuParticulares2.gif) no-repeat right top !important;}
.blocoTopoBaixo .subMenu {background:url(bgMenuParticulares.gif) no-repeat left top;}
.blocoMenuSegundo  ul li.selected a { background:url(firstMenuRight.gif) no-repeat right top;} 
.blocoMenuSegundo  ul li.selected a span {background:url(firstMenuLeft.gif) no-repeat left top;} 


body { margin:0; text-align:center; }
#homePage {
  margin:auto;
  text-align:left;
  width:954px;
}

#logo {
  width:954px;
  display:inline;
  float:left;
}

#topoInterno {
  width:279px;
  display:inline;
  float:left;
}

#conteudoDiv3 {
  width:675px;
  display:inline;
  float:left;
}

#blocoBusca {
  width:675px;
  display:inline;
  float:left;
}

#menuPage {
  width:675px;
  display:inline;
  float:left;
}

#conteudoDiv4 {
  width:954px;
  display:inline;
  float:left;
}

#menuPagina {
  width:713px;
  display:inline;
  float:left;
}

#blocoLogin {
  width:241px;
  display:inline;
  float:left;
}

#banners {
  width:954px;
  display:inline;
  float:left;
}

#conteudoDiv5 {
  width:954px;
  display:inline;
  float:left;
}

#conteudoHome {
  width:214px;
  display:inline;
  float:left;
}

#conteudoHomep2 {
  width:230px;
  margin:0 0 0 16px;
  display:inline;
  float:left;
}

#conteudoDiv6 {
  width:230px;
  margin:0 0 0 10px;
  display:inline;
  float:left;
}

#conteudoHomep3 {
  width:230px;
  display:inline;
  float:left;
}

#mercadoInt {
  width:230px;
  display:inline;
  float:left;
}

#conteudoInvestidores {
  width:228px;
  margin:0 2px 0 0;
  display:inline;
  float:left;
}

#conteudoDiv7 {
  width:232px;
  margin:0 2px 0 20px;
  display:inline;
  float:left;
}

#conteudoMenuDireito {
  width:229px;
  margin:0 3px 0 0;
  display:inline;
  float:left;
}

#conteudoMenuDireito2 {
  width:218px;
  margin:0 4px 0 10px;
  display:inline;
  float:left;
}

#conteudoMenuDireito3 {
  width:230px;
  margin:2px 1px 0 1px;
  display:inline;
  float:left;
}
#blocoSiteMap {
  width:954px;
  margin:6px 0 0 0;
  display:inline;
  float:left;
}

#rodape2 {
  width:954px;
  display:inline;
  float:left;
}

#conteudoDiv8 {
  width:954px;
  display:inline;
  float:left;
}


.bgLogado {
	background: url(bgLogado.gif);
	height: 33px;
}