BODY {
    background-color: #FFFFFF;
    font-family: Tahoma, Geneva, sans-serif;
}
.txtDataHora {
    font: normal 11px Tahoma, Geneva, sans-serif;
    color: #AAAAAA;
    height: 14px;
}
INPUT,
SELECT,
.txtLabelConfirm,
.txtCampo,
.textAreaMensagens {
    font: normal 12px Tahoma, Geneva, sans-serif;
    color: #666666;
    background-color: #FFFFFF;
}
INPUT:disabled {
    color: silver;
}
FORM {
    margin-top: 0px;
}

.tdClass1 input, 
.tdClass2 input {
    height: 20px;
    font-size:11px;
    text-align: center;
    padding: 0;
}

.tdClass1 {
    font-size: 12px;
    padding: 5px;
    color:#7A7A7A;
    background: #e1e1e1;
}

.tdClass2 {
    font-size: 12px;
    color:#7A7A7A;
    padding: 5px;
}

.txtDestaque {
    font: 12px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #6699CC;
    text-decoration: none;
}
.txtTituloPrincipal {
    font: normal 23px Tahoma, Geneva, sans-serif;
    /*font-weight: bold;*/
    
    color: #000000;
}
.txtHeaderGrey {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: #000000;
    padding-right: 10px;
    background: #E9E9E9;
    /*#F6F6F6;*/
    
    border-bottom: solid 1px #DFDFDF;
    /*C8C8C8;*/
    
    height: 20px;
}
.txtSubTitulo {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: #000000;
    padding-right: 10px;
    padding-left: 4px;
    background: #EFEFEF;
    height: 20px;
}
.txtSubTituloNoBold {
    font: 11px Tahoma, Geneva, sans-serif;
    color: #000000;
    padding-left: 5px;
    background: #F6F6F6;
    width: 320px;
    border-bottom: solid 1px #DFDFDF;
    height: 20px;
}
.txtTituloConfirm,
.txtTituloResult {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: #000000;
}
.txtCampoResult {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: #666666;
}
.labelOrange {
    color: #FA942E;
}
.txtLabelResult {
    font: normal 12px Tahoma, Geneva, sans-serif;
    color: #000000;
    vertical-align: middle;
    background: #FFF;
}
.txtTituloBarras {
    background: url(bgInterna.jpg) repeat-x;
    /*  padding: 7px;*/
    
    padding-left: 7px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    font: bold 10px Tahoma, Geneva, sans-serif;
    color: #FFFFFF;
}
.txtTituloAzul {
    font: bold 12px Tahoma, Geneva, sans-serif;
    color: #00CCFF;
}
.txtLabel,
.txtCampoConfirm,
.txtNormal {
    font: normal 12px Tahoma, Geneva, sans-serif;
    color: #000000;
    vertical-align: middle;
}
.txtLabel a,
.txtCampoConfirm a,
.txtNormal a {
    color: #000000;
}
.txtNota {
    font: normal 11px Tahoma, Geneva, sans-serif;
    color: #666666;
}
.txtNota a {
    color: #666666;
}
.txtSegurancaCinza {
    font: normal 12px Tahoma, Geneva, sans-serif;
    color: #666666;
}
.txtSegurancaLaranja {
    font: normal 12px Tahoma, Geneva, sans-serif;
    color: #FF950C;
}
.txtNotaCinza {
    font: normal 11px Tahoma, Geneva, sans-serif;
    color: #666666;
}
.txtNotaCinzaPeq {
    font: normal 10px Tahoma, Geneva, sans-serif;
    color: #666666;
}
.txtHelp {
    font: bold 12px Tahoma, Geneva, sans-serif;
    color: #00CCFF;
    text-decoration: underline;
}
.txtBtn {
    font: normal 10px Tahoma, Geneva, sans-serif;
    color: #00235A;
}
.txtNormalBold {
    font: bold 12px Tahoma, Geneva, sans-serif;
    color: #9C9C9C;
}
.btnSimples:HOVER {
    font: bold 11px Tahoma, Geneva, sans-serif;
    background-color: #000000;
    border: 0px;
    height: 20px;
    width: 93px;
}
.btnSimplesDisabled {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: silver;
    background-color: #E9E9E9;
    border: 0px;
    height: 20px;
    width: 93px;
}
.tdTitulo,
.tdTitulo td {
    background: url(bgBarraCinza.jpg) repeat-x top left;
    font: bold 10px Tahoma, Geneva, sans-serif;
    background-color: #818181;
    padding-left: 7px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #FFFFFF;
}
.tdTitulo2 {
    background: url(bgBarraCinza.jpg) repeat-x top left;
    font: normal 10px Tahoma, Geneva, sans-serif;
    background-color: #606060;
    padding: 8px 0 8px 0;
    margin-top: 10px;
    color: #FFFFFF;
}
li.tdTitulo {
    border-bottom: none !important;
    background: none !important;
    padding: 0 !important;
    color: #ff950c;
}
.txtPasiTitulo,
.titNoticiaFEED {
    font: bold 13px Tahoma, Geneva, sans-serif;
    color: #000000;
}
INPUT.ctrlButton {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: #FFF;
    background-color: #FAA000;
    border: 0px;
    height: 20px;
    width: 93px;
}
INPUT.ctrlButton:HOVER {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: #FFF;
    background-color: #000000;
    border: 0px;
    height: 20px;
    width: 93px;
}
INPUT.ctrlButtonDisabled {
    font: bold 11px Tahoma, Geneva, sans-serif;
    color: silver;
    BACKGROUND-COLOR: #E9E9E9;
    border: 0px;
    TEXT-ALIGN: center;
    padding: 0px;
    WIDTH: 93px;
    HEIGHT: 20px;
}
.txtPasiCyan {
    font: normal 11px Tahoma, Geneva, sans-serif;
    color: #000000;
}
.txtPasi {
    font: normal 11px Tahoma, Geneva, sans-serif;
    color: #000000;
}
INPUT.dommPasi {
    font: 600 9pt Tahoma, Geneva, sans-serif;
    border: 0px;
    margin: 5px;
    padding: 2px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
}
INPUT.btnButtonTeclado {
    background: url(tecladoBtn.gif) no-repeat top left;
    background-color: #FAA000;
    font: 10px Tahoma, Geneva, sans-serif;
    width: 26px;
    height: 23px;
    color: black;
    border: none;
    margin: 2px;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle;
}
.updateMatriz ul, .updateMatriz li {
    list-style: none;
    padding:0;
    margin:0;
    font-size: 10px;
}

.updateMatriz li {
    float:left;
    width: 27px;
    background: red;
    height: 17px;
    line-height: 17px;
    background: #febf01;
    text-align: center;
}

.updateMatriz .he {
    background: #FAA000;
}

.updateMatriz ul {
    float:none;
    clear:both;
}

.updateMatriz input {
    border: none;
    width: 25px;
    font-size: 11px;
    margin: 1px;
}

.updateMatriz .null {
    background: none;
}

/*empresa*/


.updateMatrize ul, .updateMatrize li {
    list-style: none;
    padding:0;
    margin:0;
    font-size: 10px;
}

.updateMatrize li {
    float:left;
    width: 27px;
    background: red;
    height: 17px;
    line-height: 17px;
    background: #2989D8;
    text-align: center;
}

.updateMatrize .he {
    background: #2989D8;
}

.updateMatrize ul {
    float:none;
    clear:both;
}

.updateMatrize input {
    border: none;
    width: 25px;
    font-size: 11px;
    margin: 1px;
}

.updateMatrize .null {
    background: none;
}