*												{margin: 0; padding: 0; /* line-height: 14px; */}
img												{border: 0; vertical-align: bottom;}
a												{text-decoration: none;}
a:focus											{outline-style: none;}
input, select									{outline-style: none;}
body											{overflow: hidden; position: relative; font: 12px/16px "Lucida Grande", "Lucida Sans Unicode", arial, helvetica, sans-serif; /*background: url(bg.png) no-repeat left top;*/ /*background-color: #ffc000;*/ background-color: transparent;}

br 												{width: 0px; height: 0px; display: none; visibility: hidden;}

.clearfix:before, .clearfix:after				{content: ""; display: table;}
.clearfix:after									{clear: both;}

ul												{list-style: none;}
ul:before, ul:after								{content: ""; display: table;}
ul:after										{clear: both;}



.contentmove 									{position: relative;}

.headertab 										{width: 225px; height: 32px; position: absolute; top: 0px; left: 0px; z-index: 101; background: url(header_bg_tab.png) no-repeat left top;}
.headertab a 									{width: 23px; height: 32px; display: block; float: right; text-indent: -100000px;}
.headertab .minimizar 							{background: url(button_minimize_off.png) no-repeat left top;}
.headertab .minimizar.on 						{background: url(button_minimize_on.png) no-repeat left top;}
.headertab .fechar 								{background: url(button_close.png) no-repeat left top;}

.renderBodyContainer 							{width: 225px; position: absolute; top: 0px; left: 0px; z-index: 100; /*background-color: #d10000;*/ /*opacity: 0.8;*/}
.renderBodyContainer iframe 					{width: 218px; height: 443px; margin: 32px 0 0 2px; /*background-color: red;*/}
.renderBodyContainer br 						{width: 0px; height: 0px; display: none; visibility: hidden;}

/* Estilo para o texto q aparece no processo de call */
.renderBodyContainer .msg 						{padding: 80px 0 10px 0; font-size: 14px; line-height: 18px; color: #fafafa;}
.renderBodyContainer .msg br 					{width: 0px; height: 0px; display: none; visibility: hidden;}

/* Estilo para o texto q aparece no FIM do processo de call */
.renderBodyContainer .msg p 					{padding: 10px 0 10px 0; margin-left: 8px; font-size: 12px; line-height: 20px; color: #fafafa;}
.renderBodyContainer .msg p br 					{display: block;}
.renderBodyContainer .msg a 					{padding: 0 0 10px 0; margin-left: 8px; display: block; font-size: 12px; color: #fafafa; text-decoration: underline; font-weight: bold;}
.renderBodyContainer .msg a:hover 				{text-decoration: none;}

.renderSurveyContainer							{padding: 42px 0 0 5px; position: relative; /*background-color: #00aee1;*/}
.renderSurveyContainer .title					{font-size: 22px; line-height: 30px; color: #fafafa; text-transform: uppercase;}
.renderSurveyContainer .title br				{display: block;}
.renderSurveyContainer .descr					{padding: 22px 0 30px 0; margin-bottom: 10px; font-size: 14px; line-height: 18px; color: #fafafa; border-bottom: 1px solid #999fa5;}
.renderSurveyContainer .descr br				{display: block;}
.renderSurveyContainer .footer					{clear: both; font-size: 14px; line-height: 18px; color: #fafafa; background-color: #000;}
.renderSurveyContainer .required				{/*display: none;*/ position: absolute; bottom: 2px; left: 5px; z-index: 100; font-size: 10px; line-height: 14px; color: #ffc000;}
.renderSurveyContainer .btgenerico 				{width: 75px; margin: 0 0 0 5px; padding: 5px 0 4px 10px; display: block; font-size: 10px; font-weight: normal; color: #fff; text-transform: uppercase; text-decoration: none; background: #ff7200 url(button_arrow.png) no-repeat right center;}
.renderSurveyContainer .btgenerico:hover 		{background-color: #e46702;}

.renderMethodsContainer							{position: relative; /*background-color: #0ad100;*/}
.renderMethodsContainer .title					{padding: 42px 10px 10px 10px; font-size: 14px; line-height: 16px; color: #fafafa; text-transform: uppercase; font-weight: bold;}
.renderMethodsContainer .descr					{padding: 0 10px 0 10px; font-size: 12px; line-height: 14px; color: #fafafa;}
.renderMethodsContainer .descr br				{display: none;}
.renderMethodsContainer .required				{/*display: none;*/ position: absolute; bottom: 0px; left: 5px; z-index: 100; font-size: 11px; line-height: 14px; color: #ffc000;}
.renderMethodsContainer .btgenerico 			{width: 75px; margin: 0 0 0 5px; padding: 5px 0 4px 10px; display: block; font-size: 10px; font-weight: normal; color: #fff; text-transform: uppercase; text-decoration: none; background: #ff7200 url(button_arrow.png) no-repeat right center;}
.renderMethodsContainer .btgenerico:hover 		{background-color: #e46702;}

.skinLogoBySide 								{position: absolute; bottom: 22px; right: 3px; z-index: 100;}
.skinBackground 								{}




label											{padding: 15px 0 5px 0; display: none; font-size: 14px; line-height: 16px; text-transform: uppercase; color: #fafafa;}
label span										{font-size: 11px; line-height: 14px; text-transform: uppercase; color: #ffc000;}

input 											{width: 215px; padding: 12px 5px 13px 11px; *padding-top: 10px; *padding-bottom: 10px;  margin-bottom: 8px; font-size: 12px; line-height: 14px; color: #929292; border: none; background-color: #fff;}

textarea										{padding: 3px; color: #333;}

.selectlabel									{width: 100%; text-transform: uppercase; color: #c8a000;}
select											{width: 215px; color: #333;}

.radiotext										{width: 100px; text-transform: uppercase; color: blue;}
.radioinput										{width: auto;}
.radiolable										{width: auto; padding-right: 13px; text-transform: uppercase; color: #6464fd;}

.checkboxtext									{width: auto; text-transform: none; color: green;}
.checkboxinput									{width: auto;}
.checkboxlable									{width: auto; text-transform: uppercase; color: #00c200;}
.checkboxlable a								{color: #ff6600;}
.checkboxlable a:hover 							{text-decoration: none;}




.methodslabel									{} /* Excepção configurada na css do IE6 e IE7 */

.methodsinputagora								{width: 160px; /*height: 30px;*/ padding: 7px 5px 10px 5px; background: transparent url(inputs_agora.png) no-repeat left top;}
.methodsbtagora									{width: 151px; height: 35px; /*margin: 10px 0 0 100px;*/ display: inline-block; text-indent: -9999px; background: url(button_agora.png) no-repeat left top;}

.methodsinputagendar							{width: 75px; height: 30px; padding: 0 10px 0 10px; margin: 0 0 0 0; background: transparent url(inputs_agendar.png) no-repeat left top;}
.methodsselectagendar							{width: 120px; height: 30px; padding: 0px;  margin: 0px; float: right; background-color: transparent;}
.methodsbtagendar								{width: 151px; height: 35px; /*margin: 10px 0 0 100px;*/ display: block; text-indent: -9999px; background: url(button_agendar.png) no-repeat left top;}

.methodsbtchat 									{width: 75px; margin: 0 0 20px 5px; padding: 5px 0 4px 10px; display: block; font-size: 10px; font-weight: normal; color: #fff; text-transform: uppercase; text-decoration: none; background: #ff7200 url(button_arrow.png) no-repeat right center;}
.methodsbtchat:hover 							{background-color: #e46702;}