/* tables */
table.tablesorter {
/*
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
*/        
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
/*
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
*/        
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
/*        background-position-x: center;
        background-position-y: 90%;*/
	cursor: pointer;
}
table.tablesorter tbody td {
/*
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
*/        
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
/*table.tablesorter thead tr .headerSortUp:after {
    font-family: 'icomoon';
    content: "\25";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: .800em;
    display: block;
    float: right;
    padding-right: 3px;
}*/
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
/*table.tablesorter thead tr .headerSortDown:after {
    font-family: 'icomoon';
    content: "\24";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: .800em;
    display: block;
    float: right;
    padding-right: 3px;
}*/
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
    
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    /*background-color: #ff6600;
    color: #ffffff;*/
}


.bpi-logo {
    display:block;
    width:108px;
    height:43px;
/*    background:url(../img/logos/bpi.png) no-repeat left top; */
    overflow:hidden;
/*    text-indent: -9000px; */
    position:absolute;
    top:15px;
}
/*
#bpi-logo {
    display: block;
    width: 108px;
    height: 43px;
    overflow: hidden;
    position: absolute;
    top: 15px;}
*/
/*
.content {
    width: 100%;
    overflow: hidden;
    padding-top: 27px;
}
*/
.main {
    float: left;
    width: 720px;
    min-height: 360px;
}

.wraper {
    width:960px;
    margin:auto;
    position:relative;
}
.breadcrumb li a, .breadcrumb li a:visited, .breadcrumb li a:hover {
    font: 1.000em/1.2 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    text-decoration: none;
    color: #8f8f8f;
}

.af_inputText_content, .WCInputText {
    background-image: none;
}
/*
.simple-search .af_inputText_content {
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 19px;
}
*/
.p_OraHiddenLabel {
    top: 0px;
    font-size: inherit;
}

/*Quadro rentabilidades*/

.rentability-area p {
    color: #818181;
    font-size: 1.2em;
}
.rentability-area .board,
.rentability-area .risk-classes,
.quotation-board,
.grid-board{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}
.rentability-area .risk-classes { width: 500px; }
.rentability-area .board thead th {
    color: #fff;
    background: #a4a4a6;
    padding: 10px 0;
    border: #f6f6f6 1px solid;
    font-weight: 400;
}
.rentability-area .board thead th:first-child,
.rentability-area .board tbody th,
.rentability-area .board tbody td:first-child,
.quotation-board tbody th,
.quotation-board thead th:first-child {
    text-align: left;
    padding-left: 28px;
}
.rentability-area .board tbody th {
    color: #666666;
    background: #cdcdce;
    padding-top: 12px;
    padding-bottom: 12px;
    border: #f6f6f6 1px solid;
}
.rentability-area .board tbody td,
.quotation-board tbody td {
    color: #666666;
    background: #ececec;
    padding-top: 12px;
    padding-bottom: 12px;
    border: #f6f6f6 1px solid;
    text-align: center;
}
.rentability-area .board tbody td:first-child a,
.quotation-board tbody th span {
    text-decoration: underline;
    line-height: 1.1em;
    color: #666666;
}
.rentability-area .risk-classes thead th,
.quotation-board thead th {
    color: #666666;
    background: #cdcdce;
    padding-top: 20px;
    padding-bottom: 20px;
    border: #f6f6f6 1px solid;
    font-weight: 400;
}
.quotation-board tbody th {
    font-weight: 400;
    background: #ececec;
    border: #f6f6f6 1px solid;
}
.quotation-board tbody th a{ color:#666;}
.quotation-board tbody th a:hover{ text-decoration:none;}
.rentability-area .risk-classes tbody td {
    border: #f6f6f6 1px solid;
    padding: 15px 0;
}

.maps .filters .row .field input {
    width: 220px;
    padding: 10px 28px 10px 10px;
}

.lt-ie9 .checkfields span input{
    visibility:visible;
    height:1px;
    width:1px;   
}

.lt-ie9 .radiofields .radio-item{ background: transparent url(../img/bg/radiofields.png) no-repeat left top;}
.lt-ie9 .radiofields .radio-item input{
    visibility:visible;
    width:1px;
}

.ie9 .radiofields .selected:before{ margin-top:-6px;}
.lt-ie9 .maps .radiofields .selected:before{
    margin-top:-8px;
    left:3px;
}
.lt-ie9 .formfields .radiofields .selected:before{
    font-size:1.250em;
}
/*.af_commandLink:visited, .af_goLink:visited
{
    color: #fff;
}*/
.af_goLink:hover {
    text-decoration: none;
}
.information-support a:visited, .management-entity a:visited, .simple a:visited {
    color: #666666;
    text-decoration: underline;
}

.consultaCotacaoPanel table, .consultaCotacaoPanel table tbody th, .consultaCotacaoPanel table tbody td {
    border: none;
    padding: 0px;
    background: none;
}

.consultaCotacaoHeader p {
    color: #666666;
    font-size: 0.6em;
    line-height: 1.3em;
}

.consultaCotacaoHeader p:before {
    content: " ";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #ff6600;
    margin-right: 5px;
}

.consultaCotacaoHeader span {
    margin-left: 25px;
}

.consultaCotacaoHeader span.left {
    float: left;
}

div.consultaCotacaoHeader {
    font-size: 0.7em;
}


#footer #disclaimer div.hideelement, 
#particular #focus .container li h1.hideelement, #focus .container li h1.hideelement, 
#particular #focus .container li h2.hideelement, #focus .container li h2.hideelement {
    display: none;
}

.simple-search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9000px;
    right: 0;
    top: 0;
    width: 19px;
    height: 19px;
    box-shadow: inset;
}

.filters .field input {
    height: 16px;
}

.filters .field_text input {
    height: 22px;
}

.af_dialog_header-end, .af_dialog_header-start, .af_dialog_header {
    background-image: none;
}
.af_dialog_footer-end, .af_dialog_footer-start, .af_dialog_footer {
    background-image: none;
}


.af_dialog_content-end, .af_dialog_content-start, .af_dialog_content {
    background-color: white;
    border-left: none;
    border-right: none;
}

.af_dialog_close-icon-style {
    background-image: url(/sitebpi/afr/fusion/close_ena.png);
}

.login fieldset input[type=button] {
    background: none;
    border: none;
    width: 19px;
    height: 19px;
    margin-right: -1px;
    text-indent: -9000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* mypagination */

.mypagination{ 
	text-align:center;
    font-size:1.4em;
    margin-bottom:45px;}
.mypagination a{
    text-decoration:none;
    color:#a4a4a6;
    vertical-align:middle;
    letter-spacing:-1px;}
.mypagination a:after{
    content: "/";
    color:#a4a4a6;
    margin-right:2px;}
.mypagination .selected{color:#666;}
.mypagination .prev span,
.mypagination .next span{ 
	text-indent:-90000px;
    display:inline-block;}

.mypagination .prev:after,
.mypagination .next:after{ display:none;}
.mypagination .prev:before{ padding-right:4px;}
.mypagination .next:before{ 
	background-color:#f6f6f6;
    margin-left:-8px;
    padding-left:8px;}

.results .mypagination{ 
	margin-bottom:10px;
    text-align:right;}        
.results .mypagination a{ text-align:left;} 

/***** BOTÕES REDES SOCIAIS *****/

.botoes-redes-sociais {
    box-sizing: border-box;
    background: #f0f0f0;
    margin-top: 32px;
    padding: 10px 8px 8px 8px;
    text-align: right;
}
.botoes-redes-sociais li {
    float:left;
    padding:0 3px;
}
.fb_reset {
    height:0 !important;       
}

.search_class, .search_class td {
    border: none;
}

.simple-search input[type=button] {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    text-indent: -9000px;
    right: 0;
    top: 0;
    width: 19px;
    height: 19px;
    box-shadow: inset;
}

.text li {
    margin: 1em 0 1em 1em;
}

.content-section .column2 table {
    width: 460px !important;
}

.no-borderimage .login fieldset input[type=button]{background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);}     

.exchange {
    width: 224px;
}

.row table, .col table {
    border-spacing: 0px;
    font-size: inherit;
    margin-bottom: 0px;
    border: none;
    width: 422px !important;
}

.filters table {
    border-spacing: 0px;
    font-size: inherit;
    margin-bottom: 0px;
    border: none;    
}

.row table tbody td, .col table tbody td, .filters table tbody td {
    padding: 0px;
    border: 0px;
}

.row table tbody td input, .col table tbody td input, .row table tbody td textarea {
    margin-left: -1px;
}

.textarea1 label {
    margin-top: -55px !important;
}

.row table tbody td label, .col table tbody td label{
    padding: 0px 0px 0px 10px;
    margin-top: -4px;
}

.filters table tbody td label{
    padding: 0px 0px 0px 10px !important;
    margin-top: -7px !important;
}

.col table tbody td select {
    margin-left: -1px;
}

.maps .filters .row .field label {
    margin-top: -19px;
}


.formfields .selectfield .select1 select {
    padding: 10px 28px 10px 6px;
    opacity: 0;
    position: absolute;
    z-index: 101;
    border: none;
    width: 206px;
    font-size: 1.2em;
}

.formfields .selectfield .select1 .drop-selected {
    display: inline-block;
    background-color: #fff;
    padding: 12px 22px 12px 10px;
    position: relative;
    z-index: 100;
    text-align: left;
    font-size: 1.2em;
    color: #666;
    width: 173px !important;
    margin-left: -1px;
}

.formfields .selectfield .select1 .drop-selected:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\24";
    position: absolute;
    right: 0;
    top: 50%;
    margin: -8px 10px 0 0;
    z-index:10000;
}

.fincol2 table {
    font-size: 1.0em;
}

.fincol2 table thead th, .fincol2 table tbody th {
    background-color: #cdcdce;
}

.fincol2 p {
    font-size: 1.0em;
}

/***** BOTÕES REDES SOCIAIS *****/

.botoes-redes-sociais {
            box-sizing: border-box;
            background: #f0f0f0;
            margin-top: 32px;
            padding: 10px 8px 8px 8px;
            text-align: right;
}
.botoes-redes-sociais li {
            float:left;
            padding:0 3px;
}
.fb_reset {
            height:0 !important;       
}

.vhidden { 
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px; 
}

.popin-content .grafico img {
    width: 430px;
}

.faqs h3 {
    font: 1.8em/1 'tradegothicbold';
}

.info-links ul li {
    letter-spacing: 0.05em;
}

.slider-item-content ul li:before {
    margin: 3px 0 0 -12px;
}

.data-content .date-filters{
    height: auto !important;
}

.resultsAS{
    color:#666;
    text-decoration: underline;
    font-size: .75em;
}

.emptyAS{
    color:#666;
    text-decoration: none;
    font-size: .75em;
}

.text .splitlist li {
    margin: 0 10px 20px 0;
    margin-right: -1px;
}

.text .treasury-fund #fundo {
    width: 150px;
}

.text .treasury-fund #data-lancamento {
    width: 87px;
}

.text .treasury-fund #entregas-minimas {
    width: 90px;
}

.text .treasury-fund #resgate {
    width: 180px;
}

.text .treasury-fund #gestao {
    width: 180px;
}

.text .treasury-fund #deposito {
    width: 85px;
}

#popin-graph .overlay {
    background-color: #000;
    opacity: .3;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000;}
#popin-graph .popin-close {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 210px;
    z-index: 10002;
    left: 50%;
    margin-left: 210px;
    color: transparent;}
#popin-graph .popin-close:before {
    content: "\24";
    position: absolute;
    font-size: 1.500em;
    color: #7e7e7e;
    left: 0;
    margin-top: -8px;}
#popin-graph .popin-close:after {
    content: "\25";
    position: absolute;
    font-size: 1.500em;
    color: #7e7e7e;
    left: 0;}
#popin-graph .popin-content{
    background-color: #fff;
    padding: 35px 20px;
    position: absolute;
    width: 440px;
    min-height: 200px;
    z-index: 10001;
    top: 190px;
    left: 50%;
    margin-left: -236px;}

#popin-graph .popin-content.video{ padding-top:50px;}

#popin-graph .popin-content.video .video-desc{
    font-size:1.2em;
    padding-top:20px;
    color:#666;}
#popin-graph .popin-content.video .video-desc a{color:#666;}

#popin-graph .faqs .visibility-accordion dd {
    margin-left: 0px;
}

#popin-graph .grafico{
    width:440px;
}
.pagetab table tbody tr td ul:first-child li {
    display: block;
    border: none;
    margin-bottom: 5px;
    margin-left: 13px;
    margin-right: 0px;
    margin-top: 13px;
}

.pagetab table tbody tr td ul:first-child li a {
    color: rgb(129, 129, 129);
    cursor: auto;
    display: inline;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: 13px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-decoration: underline;
    border: none;
    text-transform: none;
}

.pagetab table tbody tr td ul:first-child li a:after {
    display: none;
}

.showcase .column .collection .productlist li{ 
    width:225px;
    height:366px;
}
    
/*.showcase .collection .productlist li,
.showcase .collection .productlist li + li + li + li,
.showcase .collection .productlist li + li + li + li + li + li + li,
.showcase .collection .productlist li + li + li + li + li + li + li + li + li + li{
    width:470px;
    height:366px;
}

.showcase .collection .productlist li + li, 
.showcase .collection .productlist li + li + li + li + li, 
.showcase .collection .productlist li + li + li + li + li + li + li + li, 
.showcase .collection .productlist li + li + li + li + li + li + li + li + li + li + li {
    width: 470px;
    height: 173px;
}

.showcase .column2 .collection .productlist li + li a:before, 
.showcase .column2 .collection .productlist li + li + li + li + li a:before, 
.showcase .column2 .collection .productlist li + li + li + li + li + li + li + li a:before {
    width: 470px;
    height: 173px;
}*/

/* nth-child -> doesn´t wok for ie8 and lower*/
.showcase .column2 .collection .productlist li:nth-child(3n+1),
.showcase .column2 .collection .productlist li:nth-child(3n+1) a:before{
    width: 470px;
    height: 366px;
}

.showcase .column2 .collection .productlist li:nth-child(3n+1) a:before {
    top: -323px;
}

.showcase .column2 .collection .productlist li:nth-child(3n+2),
.showcase .column2 .collection .productlist li:nth-child(3n+2) a:before {
    width: 470px;
    height: 173px;
}

.showcase .column2 .collection .productlist li:nth-child(3n+3),
.showcase .column2 .collection .productlist li:nth-child(3n+3) a:before {
    width: 470px;
    height: 173px;
}

@media print {
    .botoes-redes-sociais {
        display: none;
    }
} 

.grafico text{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 10px;
}

#busy {
    block !important;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-image:url('../img/bg/transparent08.png');
    vertical-align: middle;
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: alpha(opacity=30);
*/    
}
#busy div{
    width: 31px;
    height: 31px;
    margin: auto;
    margin-top: 20%;
}

#menu ul .menuover .submenu dl dt { margin-top:20px;}
#menu ul .menuover .submenu dl dt:first-child { margin-top:0px;}

.text .liabilities-board tbody tr td.red {
    color: #f00;
}

.text .liabilities-board tbody tr td.green {
    color: #23a11f;
}

/*.lt-ie9 #slide-popin .overlay { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);}*/

.risks{
    margin-top: 0px;
}

.maps .checkfields span + label + span + label{ width: 150px;}

.currency-converter .unavailable {
    text-align: center;
    padding: 0px 0px 30px;
    height: 65px;}
.currency-converter .unavailable span {
    display: block;
    background-color: #838383;
    color: #fff;
    width: 23px;
    height: 23px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 100%;
    -ms-box-shadow: inset 1px 1px 2px #5b5b5b, inset -1px -1px 2px #cbcbcb;
    -moz-box-shadow: inset 1px 1px 2px #5b5b5b, inset -1px -1px 2px #cbcbcb;
    -webkit-box-shadow: inset 1px 1px 2px #5b5b5b, inset -1px -1px 2px #cbcbcb;
    box-shadow: inset 1px 1px 2px #5b5b5b, inset -1px -1px 2px #cbcbcb;
    font-size: 1.700em;
    line-height: 1.300em;}
.currency-converter .unavailable p {
    color: #666;
    width: 100px;
    display: inline-block;
    line-height: 1.350em;}
    
#private #menu-areas a { 
    color: #666666;
}

.product .columns li,
.slider-item-content li{
    color:#666666;
}

@media print{
    .text .branch h2{
        width:20%;
        font-size:1.8em;
        padding: 18px 0px;
    }
    
    .text .branch{
        page-break-inside: avoid;
        width: 720px;
    }
}

.sem-tema-titulo {
    font-size: 1.3em;
    display: block;
    color: #666;
    
}

.sem-tema-p{
    margin: .8em 0 1.2em 0;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #666;
}

.franca-contactos-pdf{
    color: #5e5e5f;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.social-plugins-fix li{
    margin: 0;
}

.social-plugins-fix ul li:before{
    content: none;
}

.currency-converter div{
    font: 2.2em/1 'tradegothicbold';
    color: #ff6600;
    display:block;
    margin-bottom:20px;
}

#bysideplaceholderright{
    margin-top: 5px;
}

.accordion .info-links ul li a{
    text-decoration: none;   
}

.accordion .info-links ul li:before{
    content: none;   
}

.accordion .info-links ul li{
    margin-left: 0px;
}

.text .liabilities-board tbody tr td.cotacao{
    text-align: right;
}

.liabilities-board tbody tr td.cotacao img{
    margin-bottom: 4px;
}

.text .liabilities-board tbody tr td.neutral.cotacao{
    padding-right: 17px;
}

.tableDP thead tr th{
    border: 1px solid white;
    padding: 10px 10px;
    /*margin-bottom: 4px;
    margin-top: 4px;*/
}
.tableDP tbody tr td{
    border: 1px solid white;
    padding: 10px 10px;
}

.tableDP tbody tr td.center{
    text-align: center;
}

.login-estrangeiro {
    margin-top: 0px !important;
}

.quick-acess-estrangeiro strong:after {
    content: none;
}

.quick-acess-estrangeiro:after {
    content: none;
}

.quick-acess-estrangeiro .quick-access-link {
    margin-bottom: 4px;
}
