.select			{border: 0 inset buttonface; width: 100; font: icon; cursor: default;}
.selected		{border: 0 inset buttonface; background: window; padding: 0; font: icon;}
.selectTable	{height: 100%; width: 100%;
				border: 1 solid #7f9db9; background: buttonface;}
.option			{font: icon; padding: 1; padding-left: 3; padding-right: 3; width: 100%;}
.dropDown		{position: absolute; visibility: hidden; width: 100%;
				border: 1 solid #7f9db9; padding: 0;
				background: window; color: windowtext;}
.select  .button	{width: 16px; height: 3; font-family: webdings; padding: 0;
				font-size: 9px; border: 2 outset buttonhighlight;}
